// COLOR VARIABLES
$primary-white: #f5f5f5;
$primary-black: #101010;
$secondary-white: #fdfdfd;
$secondary-black: #181c1c;
$mint: #88e4c3;
$pale-mint: #c3cccc;
$pastel-red: #ec5563;
$blue-light: #339bfc;
$blue-mid: #151779;
$blue-dark: #030430;
$gray-1: #333;
$gray-2: #666;
$gray-3: #999;
$gray-4: #ccc;
