@import "./variables";
@import "./fonts";
@import "./animations";
@import "./globals";
@import "./text";
@import "./util";
@import "./components/index";

@mixin fadeMainImage(
	$startOpacity,
	$endOpacity,
	$startTransform,
	$endTransform
) {
	animation: fadeMainImage 0.9s ease-out 0.3s forwards;
	@keyframes fadeMainImage {
		from {
			opacity: $startOpacity;
			transform: $startTransform;
		}

		to {
			opacity: $endOpacity;
			transform: $endTransform;
		}
	}
}

@mixin fadeSubImage(
	$startOpacity,
	$endOpacity,
	$startTransform,
	$endTransform
) {
	animation: fadeSubImage 0.75s ease-out 0.8s forwards;

	@keyframes fadeSubImage {
		from {
			opacity: $startOpacity;
			transform: $startTransform;
		}

		to {
			opacity: $endOpacity;
			transform: $endTransform;
		}
	}
}

#landing-hero {
	.image-group {
		#heroImageMain {
			&.atTop {
				opacity: 0;

				@include fadeMainImage(
					0,
					1,
					scale(1) translate3d(0, -20%, 0),
					scale(1) translate3d(0, 0.4px, 0)
				);
			}
		}

		#heroImageSub {
			&.atTop {
				opacity: 0;

				@include fadeSubImage(
					0,
					1,
					scale(1) translate3d(0, -20%, 0),
					scale(1) translate3d(0, 0.4px, 0)
				);
			}
		}

		@media screen and (max-width: 1200px) {
			#heroImageMain {
				&.atTop {
					@include fadeMainImage(
						0,
						1,
						scale(1) translate3d(0, -20%, 0),
						scale(1) translate3d(0, 31px, 0)
					);
				}
			}
			#heroImageSub {
				&.atTop {
					@include fadeSubImage(
						0,
						1,
						scale(1) translate3d(0, -20%, 0),
						scale(0.95) translate3d(0, 22px, 0)
					);
				}
			}
		}
		@media screen and (max-width: 1100px) {
			#heroImageSub {
				&.atTop {
					@include fadeSubImage(
						0,
						1,
						scale(1.25) translate3d(0, -20%, 0),
						scale(1.45) translate3d(0, 22px, 0)
					);
				}
			}
		}
		@media screen and (max-width: 850px) {
			#heroImageMain {
				&.atTop {
					@include fadeMainImage(
						0,
						1,
						scale(1) translate3d(0, -20%, 0),
						scale(1.2) translate3d(-10%, 85px, 0)
					);
				}
			}
			#heroImageSub {
				&.atTop {
					@include fadeSubImage(
						0,
						1,
						scale(1.45) translate3d(0, -20%, 0),
						scale(1.65) translate3d(0, calc(46px - 12%), 0)
					);
				}
			}
		}
		@media screen and (max-width: 575px) {
			#heroImageMain {
				&.atTop {
					@include fadeMainImage(
						0,
						1,
						scale(1.05) translate3d(0, -20%, 0),
						scale(1.35) translate3d(-15%, 85px, 0)
					);
				}
			}
			#heroImageSub {
				&.atTop {
					@include fadeSubImage(
						0,
						1,
						scale(1.65) translate3d(0, -20%, 0),
						scale(1.85) translate3d(0, calc(28px - 15%), 0)
					);
				}
			}
		}
	}
}
