.section {
    &--blog-list {
      .section {
        &--heading {
          grid-row: 1/2;
          position: relative;
          text-align: center;
  
        }
        &--body {
          grid-row: 2/3;
          grid-column: 1/13;
  
          .blogs {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 28px;
            flex-wrap: wrap;
            row-gap: 56px;
            .blog {
              cursor: pointer;
              flex: auto;
              width: 31%;
              display: flex;
              flex-direction: column;
              align-items: stretch;
              justify-content: space-between;
              padding: 16px;
              border-radius: 16px;
              box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
              transition: all 0.1s ease-out;
              position: relative;
              transform: scale(1) translate3d(0, 0, 0);
              will-change: contents;

              &_w {

                &-one-third {
                  width: 31%;
                }

                &-one-half {
                  width: 45%;
                }

                &-two-thirds {
                  width: 62%;
                }
              }
  
              &__inner {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;
                height: 100%;
              }
  
              &:hover {
                box-shadow: 0 6px 26px -4px rgba(0, 0, 0, 0.19);
                transform: scale(1.01) translate3d(0, 0, 0);
              }
  
              &--title {
                font-weight: 500;
                font-size: 22px;
                line-height: 1.3em;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                max-height: 4em;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
              }
  
              &--info {
                color: #139bbf;
                font-weight: 500;
                font-size: 15px;
              }
  
              &--body {
                font-size: 17px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: 1.5em; 
                max-height: 3em; /* fallback */
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
                transition: max-height 25s ease-out 0.05s;
                text-align: left;
  
                * {
                  font-size: 1em;
                }
              }
  
              &--cta {
                color: #139bbf;
                display: flex;
                gap: 30px;
                text-decoration: none;
                margin-top: 16px;
                justify-content: flex-start;
                align-items: center;
                font-size: 16px;
                span {
                  display: inline-block;
                  padding-bottom: 2px;
                  margin: 0;
                  border-bottom: 1px solid #139bbf;
                }
  
                .icon {
                  font-size: 1.5em;
                }
              }
  
              &--img {
                &__wrapper {
                  width: 100%;
                  aspect-ratio: 1920 / 1080;                  
                  position: relative;
                  border-radius: 12px;
                  margin-top: 30px;
                  overflow: hidden;
                }
              }
            }
  
            @media (max-width: 1275px) {
               .blog {
                 width: 46%;
               }
            }
            @media (max-width: 850px) {
              .blog {
                width: 86%;
              }
           }
          }
        }
      }
    }
  }
  
  #blogPosts {
    margin-top: 206px;
  }