

.faq {

    &--list {

        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 24px;
        max-width: 92.5vw;
        margin: 0 auto;
        &--item {
            cursor: pointer;
            display: flex;
            background-color: #fff;
            flex-direction: column;
            align-items: stretch;
            border-radius: 6px;
            border: solid 1px #e9eaf0;
            padding: 32px 34px;
            overflow: hidden;

            .heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                > * {
                    margin: 0;
                }
            }

            .body {
                // height: 0px;

                p {
                    margin-top: 16px;
                }
            }
        }
    }
}