.section {
  margin-top: 142px;
  transition: opacity 0.22s ease-in-out 0.18s;

  &__with-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    align-items: center;
  }

  &__with-flex {
    display: flex;
  }

  &__with-max-width {

    &_95vw {
      max-width: 95vw;
      margin: auto;
    }
  }

  &--heading {
    grid-column: 4/10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 120px;

    * {
      text-align: center;
    }

    h2 {
      margin-bottom: 13px;
    }
  }

  @media screen and (max-width: 1200px) {
    margin-top: 116px;

    &--heading {
      margin-bottom: 72px;

      h2 {
        margin-bottom: 9px;
      }
    }
  }
  @media screen and (max-width: 960px) {
    margin-top: 82px;

    &--heading {
      margin-bottom: 58px;

      h2 {
        margin-bottom: 8px;
      }

      h3 {
        margin-bottom: 14px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    margin-top: 76px;

    &--heading {
      grid-column: 2/12;
      margin-bottom: 44px;

      h2 {
        margin-bottom: 6px;
      }

      h3 {
        margin-bottom: 12px;
      }
    }
  }

  @media screen and (max-width: 550px) {
    margin-top: 62px;

    &--heading {
      grid-column: 1/13;
      margin: 0 3.5vw;
      margin-bottom: 33px;

      h2 {
        margin-bottom: 4px;
      }

      h3 {
        margin-bottom: 10px;
      }
    }
  }
}