.header {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1444px;
  margin: auto;
  position: relative;

  @media (min-width: 1920px) {
    max-width: 1880px;
  }

  &--logo {
    position: relative;
    z-index: 200;
    max-width: 225px;
    min-width: 175px;
    width: 10vw;
    cursor: pointer;
    margin-left: 10px;

    a {
      display: flex;
      align-items: center;
    }

    svg {
      max-width: 225px;
      min-width: 175px;
      width: 10vw;
        path {
            transition: .2s all .2s ease-in-out;
        }
    }
  }

  &__placeholder {
    display: block;
    height: 83px;
  }
  &__wrapper {
      background: transparent;
      // backdrop-filter: blur(10px);
      position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 500;
      width: 101vw;
      padding: 25px 0;
      transition: .275s ease-out all
    }

  #menuIcon {
    background: none;
    border: none;
    position: relative;
    z-index: 200;
    overflow: visible;
    margin-right: 10px;
    &--SVG {
      width: 62px;
      height: 62px;
      overflow: visible;
    }
  }

  &--nav {
    position: absolute;
    left: 50%;
    top: 50%;

    &--list {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 30px
    }

    &--item {
      list-style: none;
      margin: 0;
      padding: 16px 12px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 6px;
      position: relative;
      transition: 0.1s ease-in-out;
      box-shadow: rgba($off-black, 0) 0 11px 13px -10px;
      overflow: hidden;

      a {
        color: $off-black;
        text-decoration: none;
        transition: .25s ease-in-out all;
        font-weight: 400;

        &.darkmode {
          color: $off-white;
        }
      }
      &:hover,
      &:active,
      &:focus {

        a {
          color: #1688F2;
        }
      }

    }

    &__mobile {
      position: fixed;
      z-index: 100;
      top: 50vh;
      left: 50vw;
      background-color: #252939;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(10px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 12vh;
      transition: opacity ease-in-out 0.38s,
        transform cubic-bezier(1, 0, 0.06, 0.99) 0.328s;
      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          font-size: 18px;
          color: $off-white;
          a {
            text-align: center;
            color: $off-white !important;
          }

          &::before,&::after {
            background: linear-gradient(
                89.39deg,
                $primary-orange -2.31%,
                $secondary-yellow 61.2%,
                $primary-orange 116.24%
              );
          }
        }
      }
    }

    @media (max-width: 1020px) {
       
      &--list {
        gap: 20px;
      }
    }

  }

  &--cta {
    padding: 12px 30px;

    &__wrapper {
      min-width: 175px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 21px;

      .pipe {
        width: 1px;
        background: $black;
        align-self: stretch;
        margin: 10px 0;
      }

      #login {
        color: $black;
        font-size: 16px;
        text-decoration: none;
        position: relative;
        padding: 5px 2px;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 1px;
          background: $black;
        }
      }

      @media (max-width: 1020px) { 
        gap: 20px;
      }
    }
  }
}
