
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
  grid-column: 1/13;
  &--logo {
    max-width: 250px;
    min-width: 150px;
    width: 10vw;
    cursor: pointer;
  }

  &--nav {
    &--list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--item {
      list-style: none;
      margin: 4px 25px;
      padding: 16px 12px;
      font-size: 19px;
      cursor: pointer;
      border-radius: 6px;
      position: relative;
      transition: 0.1s ease-in-out;
      box-shadow: rgba($off-black, 0) 0 11px 13px -10px;
      overflow: hidden;

      a {
        color: $off-black;
        text-decoration: none;
      }
      &:hover,
      &:active,
      &:focus {
        box-shadow: rgba($off-black, 0.25) 0 11px 13px -15px;

        &::before {
            transform: translate(-50%);
            transition: .175s all ease-in-out;
        }
        &::after {
          transform: translate(-50%);
          transition: 0s all .175s ease-in-out;
      }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 24px);
        height: 3px;
        background: linear-gradient(
          89.39deg,
          #139bbf -2.31%,
          #27c1bc 61.2%,
          #1688f2 116.24%
        );
        border-radius: 68px;
        transform: translate(-300%);
        transition: 0s all ease-in-out;
      
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 24px);
        height: 3px;
        background: linear-gradient(
          89.39deg,
          #139bbf -2.31%,
          #27c1bc 61.2%,
          #1688f2 116.24%
        );
        border-radius: 68px;
        transform: translate(300%);
        transition: .175s all ease-in-out;
      
      }
    }
  }
}
