.header {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  max-width: 1444px;
  margin: auto;
  @media (min-width: 2160px) {
    max-width: 1880px;
  }

  &--logo {
    position: relative;
    z-index: 200;
    max-width: 225px;
    min-width: 175px;
    width: 10vw;
    cursor: pointer;
    margin-left: 10px;

    svg {

        path {
            transition: .2s all .2s ease-in-out;
        }
    }
  }

  &__placeholder {
    display: block;
    height: 83px;
  }
  &__wrapper {
      background: transparent;
      // backdrop-filter: blur(10px);
      position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 500;
      width: 101vw;
      padding: 25px 0;
      transition: .275s ease-out all
    }

  #menuIcon {
    background: none;
    border: none;
    position: relative;
    z-index: 200;
    overflow: visible;
    margin-right: 10px;
    &--SVG {
      width: 48px;
      height: 48px;
      overflow: visible;
    }
  }

  &--nav {
    &--list {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &--item {
      list-style: none;
      margin: 0px 25px 4px;
      padding: 16px 12px;
      font-size: 15px;
      cursor: pointer;
      border-radius: 6px;
      position: relative;
      transition: 0.1s ease-in-out;
      box-shadow: rgba($off-black, 0) 0 11px 13px -10px;
      overflow: hidden;

      a {
        color: $black;
        text-decoration: none;
        transition: .25s ease-in-out all;
        font-weight: 500;
      }
      &:hover,
      &:active,
      &:focus {

        a {
          color: $secondary-blue
        }
      }

    }

    &__mobile {
      position: fixed;
      z-index: 100;
      top: 50vh;
      left: 50vw;
      background-color: #252939;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(10px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 12vh;
      transition: opacity ease-in-out 0.48s,
        transform cubic-bezier(1, 0, 0.06, 0.99) 0.328s;
      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          font-size: 20px;
          color: $off-white;
          a {
            text-align: center;
            color: $off-white !important;
          }

          &::before,&::after {
            background: linear-gradient(
                89.39deg,
                $primary-orange -2.31%,
                $secondary-yellow 61.2%,
                $primary-orange 116.24%
              );
          }
        }
      }
    }
  }

  &--cta {
    padding: 16px 32px;

    &__wrapper {
      width: 10vw;
      max-width: 225px;
      min-width: 175px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
