#landing-hero {
  margin-top: 120px;
  grid-column: 1/13;

  &-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    grid-column: 3/11;
    grid-row: 1/2;

    position: relative;
    z-index: 10;
  }

  h1 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: -20px;
  }
  p {
    text-align: center;
    color: $gray-text;
  }

  .cta-group {
    display: flex;
    gap: 30px;
    margin-top: 40px;
  }

  .image-group {
    grid-column: 2/12;
    grid-row: 2/3;
    min-height: 33vw;
    margin-top: 80px;
    position: relative;
    padding: 0 2.25vw;
    display: grid;
    grid-template-areas: "overlay";

    & > span,
    & > div {
      grid-area: overlay;
      max-width: 100%;
      overflow: visible !important;
    }

    &__image {
      min-height: 0 !important;
      height: auto !important;
      margin-top: 0 !important;
      box-shadow: 0 -10px 184px -11px rgba($black, 0.15);
      // transition: 1s ease-out transform .2s;
    }

    #heroImageMain {
        transform: scale(1);
        z-index: 5;
        box-shadow: 0 -30px 84px -11px rgba($black, 0.166);

    }

    #heroImageSub1 {
        z-index: 10;
        transition: transform 3.5s cubic-bezier(0.22, 1, 0.36, 1);

    }

    #heroImageSub2 {
        z-index: 10;
        transition: transform 2.5s cubic-bezier(0.22, 1, 0.36, 1);

    }

    #heroImageSub3 {
        box-shadow: none;
        z-index: 5;
        transition: transform 5s cubic-bezier(0.22, 1, 0.36, 1);

    }

  }

  // #heroImageSub1,
  // #heroImageSub2 {
  // }
}
