#landing-hero {
  margin-top: 120px;
  grid-column: 1/13;

  &-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    grid-column: 3/11;
    grid-row: 1/2;

    position: relative;
    z-index: 30;

    h1 {
      text-align: center;
      margin-bottom: 25px;
      margin-top: -20px;
    }
    p {
      text-align: center;
    }
    
    @media (max-width: 1920px) {
      .p-large {
        width: 75%;
      }
    }
    @media (max-width: 1460px) {
      .p-large {
        width: 95%;
      }

      h1 {
        margin-bottom: 18px;
      }
    }

    @media (max-width: 1020px) {
      grid-column: 2/12;
    }
    @media (max-width: 820px) {
      h1 {
        margin-bottom: 11px;
      }
    }
    @media (max-width: 575px) {
      h1 {
        margin-top: -65px;
        margin-bottom: 8px;
      }
    }
  }



  .image-group {
    grid-column: 2/12;
    grid-row: 2/3;
    min-height: 33vw;
    margin-top: 80px;
    margin-bottom: -150px;
    position: relative;
    padding: 0 7.5vmax;
    display: grid;
    grid-template-areas: "overlay";

    & > span,
    & > div {
      grid-area: overlay;
      max-width: 100%;
      overflow: visible !important;
    }

    &__image {
      min-height: 0 !important;
      height: auto !important;
      margin-top: 0 !important;
      box-shadow: 0 -10px 184px -11px rgba($black, 0.15);
      // transition: 1s ease-out transform .2s;
    }

    #heroImageMain {
      transform: scale(1);
        z-index: 5;
        box-shadow: 0 -30px 84px -11px rgba($black, 0.066);

    }

    #heroImageSub1 {
        z-index: 10;
        transition: transform 3.5s cubic-bezier(0.22, 1, 0.36, 1);

    }

    #heroImageSub2 {
        z-index: 10;
        transition: transform 2.5s cubic-bezier(0.22, 1, 0.36, 1);

    }

    #heroImageSub3 {
        box-shadow: none;
        z-index: 5;
        transition: transform 5s cubic-bezier(0.22, 1, 0.36, 1);

    }

    @media (max-width: 1200px) {
      padding: 0 2.5vmax;
      margin-bottom: -185px;
    }

    @media (max-width: 850px) {
      #heroImageMain {
        transform: scale(1.15) translateY(35px);
      }
    }

    @media (max-width: 575px) {
      #heroImageMain {
        transform: scale(1.45) translate(35px, 15px);
      }
    }

    @media (max-width: 500px) {
      margin-bottom: -225px;
    }
  }

  // #heroImageSub1,
  // #heroImageSub2 {
  // }

  @media (max-width: 575px) {
    margin-top: 95px;
  }
}


#features-hero {
  grid-column: 1/13;
  align-content: space-between;
  margin-top: 150px;
  &-message {
    grid-column: 1/7;
    align-self: stretch;

    h2 {
      margin-bottom: 12px;
    }

    .cta-group {
     margin-top: 35px; 
    }
  }

  .image-group {
    grid-column: 8/13;
    align-self: flex-start;
    position: relative;
    display: grid;
    grid-template-areas: 'overlay';

    & > span,
    & > div {
      grid-area: overlay;
      max-width: 100%;
      overflow: visible !important;
    }

    &__image {
      min-height: 0 !important;
      height: auto !important;
      margin-top: 0 !important;
    }


    #featuresHeroImageMain {
      box-shadow: 0 -10px 184px -11px rgba($off-black, .15);
    }

    #featuresHeroImageAside {
      right: 0;
      top: 50%;
      transform: translateX(50%) scale(.5);
      box-shadow: 0 -4px 53px -8px rgba($off-black, .18);
    }
  }
}
