.section {

    margin-top: 222px;

    &__with-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        align-items: center;
    }

    &__with-flex {
        display: flex;
    }

    &--heading {
        grid-column: 4/10;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 90px;
        h2,p {
            text-align: center;
        }

        h2 {
            margin-bottom: 16px;
        }
    }
}

#firstBannerHomepage {
    gap: 30px; 
    margin-top: 111px;

    .h5 {
        margin-bottom: 32px;
        line-height: 145%;
        font-weight: 500;
    }

    .banner {

        &--message {
            grid-column: 1/5;
        }
        &--image {
            grid-column: 6/13;
        }
    }

    .image_wrapper {
        position: relative;
        min-width: 500px;
        & > span,
        & > div {
            grid-area: overlay;
            max-width: 100%;
            overflow: visible !important;
        }
    }

    #worldMap {
        position: relative;
        transform-origin: 0% 50%;
        // transform: scale(1.25);
    }


}

#sectionWhoHomepage {
    .card {
        width: 31.5%;
        padding: 50px;
        background-color: $white;

        h5 {
            margin-bottom: 18px;
            font-weight: 500;
        }
        &__wrapper {
            gap: 40px;
        }
    }
}

#sectionWhatHomepage {
    .section {

        &--body {
            grid-column: 1/13;
            grid-row: 2/3;
            &--item {
                margin:25px 0;

                .checklist {
                    margin-top: 27px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 18px;
                    &--item {
                        display: flex;
                        align-items: center;
                        gap: 30px;
                        .check {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }

                &.reversed {
                    flex-direction: row-reverse;
                }
            }

            .cta-group {
                justify-content: center;
            }
        }
    }
}