.section {
  margin-top: 182px;
  transition: opacity 0.22s ease-in-out 0.18s;

  &__with-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    align-items: center;
  }

  &__with-flex {
    display: flex;
  }

  &--heading {
    grid-column: 3/11;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
    h3,
    p {
      text-align: center;
    }

    h2 {
      margin-bottom: 12px;
    }

    h3 {
      margin-bottom: 16px;
    }
  }

  @media (max-width: 1200px) {
    margin-top: 136px;

    &--heading {
      margin-bottom: 72px;

      h2 {
        margin-bottom: 10px;
      }

      h3 {
        margin-bottom: 14px;
      }
    }
  }
  @media (max-width: 960px) {
    margin-top: 92px;

    &--heading {
      margin-bottom: 58px;

      h2 {
        margin-bottom: 8px;
      }

      h3 {
        margin-bottom: 14px;
      }
    }
  }
  @media (max-width: 800px) {
    margin-top: 76px;

    &--heading {
      grid-column: 3/11;
      margin-bottom: 44px;

      h2 {
        margin-bottom: 6px;
      }

      h3 {
        margin-bottom: 12px;
      }
    }
  }

  @media (max-width: 550px) {
    margin-top: 62px;

    &--heading {
      grid-column: 2/12;
      margin-bottom: 33px;

      h2 {
        margin-bottom: 4px;
      }

      h3 {
        margin-bottom: 10px;
      }
    }
  }
}

#firstBannerHomepage {
  margin-top: 85px;
  column-gap: 15px;
  row-gap: 0;

  .h5 {
    margin-bottom: 1.2em;
    line-height: 145%;
    font-weight: 500;
  }

  .banner {
    &--title {
      grid-column: 1/6;
      grid-row: 1/2;
      align-self: flex-end;
      padding-right: 8vw;
    }
    &--paragraph {
      grid-column: 1/6;
      grid-row: 2/3;
      align-self: flex-start;
      padding-right: 2vw;
    }
    &--image {
      grid-column: 6/13;
      grid-row: 1/3;
    }
  }

  .image_wrapper {
    position: relative;
    min-width: 500px;
  }

  @keyframes pulseInOut {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.25);
    }
  }

  #worldMap {
    position: relative;
    transform-origin: 0% 50%;
    max-width: 100%;

    #end-points {

      .end-point {
        animation: pulseInOut 3s ease-in-out infinite both alternate;

        // .circle {
          
        // }
      }
    }
  }

  @media (max-width: 2160px) {
    .banner {

      &--title {
        padding-right: 55px;
      }
    }
  }

  @media (max-width: 1920px) {
    .banner {

      &--title {
        padding-right: 95px;
      }
    }
  }

  @media (max-width: 1200px) {
    .banner {

      &--title {
        padding-right: 5.4vw;
      }
    }
  }

  @media (max-width: 960px) {
    margin-top: 5vw;

    .banner {
      &--title {
        grid-column: 1/6;
      }
      &--paragraph {
        grid-column: 1/12;
        grid-row: 2/3;
      }
      &--image {
        grid-row: 1/2;
        grid-column: 6/13;
        padding: 34px;
      }
    }
    .image_wrapper {
      min-width: 0px;
    }
  }

  @media (max-width: 675px) {
    margin-top: 6vw;

    .banner {
      &--title {
        grid-column: 2/12;
        grid-row: 1/2;
      }
      &--paragraph {
        grid-column: 2/12;
        grid-row: 2/3;
      }
      &--image {
        grid-row: 3/4;
        grid-column: 1/13;
        padding: 0;
        padding-top: 44px;
      }
    }
  }

  @media (max-width: 500px) {
    margin-top: 2vw;
  }
}

#sectionWhoHomepage {
  margin-top: 142px;

  @media (max-width: 1200px) {
    margin-top: 112px;
  }
  @media (max-width: 960px) {
    margin-top: 82px;
  }
  @media (max-width: 800px) {
    margin-top: 72px;
  }
  @media (max-width: 550px) {
    margin-top: 58px;
  }

  .card {
    width: 31.5%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 6px;

    &--text {
      padding: 50px;

      max-width: 100%;
    }
    h6 {
      margin-bottom: 8px;
      font-weight: 500;
    }
    &__wrapper {
      gap: 20px;
      justify-content: center;
    }

    &__image {
      filter: hue-rotate(145deg) brightness(90%);
    }
  }

  @media (max-width: 1200px) {
    .card {
      &--text {
        padding: 38px 38px 50px;
      }

      &__wrapper {
        gap: 33px;
      }
    }
  }
  @media (max-width: 960px) {
    .card {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &--text {
        padding: 30px 5.2vw;
        width: 55%;
        justify-self: flex-start;
      }

      h5 {
        margin-bottom: 9px;
      }

      &__wrapper {
        gap: 28px;
        flex-direction: column;
        grid-column: 1/13;
      }

      &__image {
        &__wrapper {
          width: 37.5%;
          padding-right: 5.2vw;
          align-self: flex-end;
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .card__image__wrapper {
          padding-left: 5.2vw;
          padding-right: 0;
        }
      }
    }
  }
  @media (max-width: 580px) {
    .card {
      &--text {
        padding: 17.5px 4vw;
        width: 60%;
      }

      h5 {
        margin-bottom: 3px;
      }

      &__wrapper {
        gap: 18px;
      }

      &__image {
        &__wrapper {
          width: 40%;
          padding-right: 0vw;
          align-self: flex-end;
        }
      }

      &:nth-child(even) {
        .card__image__wrapper {
          padding-left: 0vw;
        }
      }
    }
  }
}

#sectionWhatHomepage {
  .section {
    &--body {
      grid-column: 1/13;
      grid-row: 2/3;

      display: flex;
      flex-direction: column;
      gap: 65px;

      &--item {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;

        .text-block {
          grid-column: 1/6;
          grid-row: 1/2;
          align-self: flex-end;

          h4 {
            margin-bottom: 14px;
          }
        }

        .checklist {
          grid-column: 1/6;
          grid-row: 2/3;
          margin-top: 27px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          &--item {
            display: flex;
            align-items: center;
            gap: 20px;
            .check {
              width: 24px;
              height: 24px;
            }

            h6 {
              font-weight: 400;
              color: $off-black;
              text-align: left;
            }
          }
        }

        .image {
          &__wrapper {
            grid-column: 7/13;
            grid-row: 1/3;
            align-self: center;
          }
        }

        &.reversed {
          flex-direction: row-reverse;

          .text-block {
            grid-column: 8/13;
          }

          .checklist {
            grid-column: 8/13;
          }

          .image {
            &__wrapper {
              grid-column: 1/7;
            }
          }
        }
      }

      .cta-group {
        justify-content: center;
      }

      @media (max-width: 1200px) {
        gap: 40px;

        &--item {
          .text-block {
          }

          .checklist {
          }

          .image {
            &__wrapper {
              grid-column: 6/13;
              padding: 0 0 0 2.5vw;
            }
          }

          &.reversed {
            .image {
              &__wrapper {
                grid-column: 1/8;
                padding: 0 2.5vw 0 0;
              }
            }
          }
        }
      }
      @media (max-width: 960px) {
        gap: 40px;

        &--item {
          .text-block {
            grid-row: 1/2;
            grid-column: 2/12;
          }

          .checklist {
            grid-row: 2/3;
            grid-column: 2/7;
          }

          .image {
            &__wrapper {
              grid-column: 7/13;
              grid-row: 2/3;
              padding: 0 0 0 2.5vw;
            }
          }

          &.reversed {
            .text-block {
              grid-row: 1/2;
              grid-column: 2/12;
            }

            .checklist {
              grid-row: 2/3;
              grid-column: 7/13;
            }

            .image {
              &__wrapper {
                grid-column: 1/7;
                padding: 0 2.5vw 0 0;
              }
            }
          }
        }
      }
      @media (max-width: 575px) {
        gap: 60px;

        &--item,
        &--item.reversed {
          .text-block {
            grid-row: 1/2;
            grid-column: 2/12;
          }

          .checklist {
            grid-row: 3/4;
            grid-column: 3/11;
            gap: 13px;
            flex-direction: column;
            align-items: center ;
            margin-top: 2px;

            &--item {
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              gap: 8px;
              width: 100%;

              h6 {
                text-align: left;
                flex-grow: 1;
                width: 100%;
              }

              svg {
                width: 15px !important;
                height: 15px !important;
              }
            }
          }

          .image {
            &__wrapper {
              grid-column: 2/12;
              grid-row: 2/3;
              padding: 0;
            }
          }

        }

        .cta-group {
          align-items: center;
        }
      }
    }
  }
}

#emailIntake {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 47px;
  row-gap: 40px;
  background-color: #252939;
  padding: 64px 44px;
  margin-bottom: 90px;
  margin-top: 167px;
  border-radius: 8px;
  .section {
    &--heading {
      max-width: 450px;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      > * {
        text-align: left;
        margin-left: 0;
        color: $off-white;
      }

      p {
        opacity: 1;
      }
    }

    &--form {
      // max-width: 530px;
      width: 100%;
      position: relative;
      flex-grow: 1;

      &__wrapper {
        flex-grow: 1;
      }
      &--input {
        height: 76px;
        padding: 8px 160px 8px 20px;
        border-radius: 6px;
        border: 1px solid #e9eaf0;
        box-shadow: 0 2px 8px rgba(20, 25, 43, 0.06);
        width: 100%;
        &__wrapper {
          position: relative;
        }

        &__label {
          position: absolute;
          top: 38px;
          left: 15px;
          transform: translate(0, -50%);
          color: $off-black;
          pointer-events: none;
          background-color: rgba(255, 255, 255, 0);
          transition: 0.25s ease-in-out all;
          padding: 0 8px;
        }

        &:focus ~ label {
          transform: translate(0, -76px);
          // background-color: #252939;
          color: #e9eaf0;
        }
      }

      .has-value {
        label {
          transform: translate(0, -76px);
          // background-color: #252939;
          color: #e9eaf0;
        }
      }

      #submit {
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        padding: 16px 28px;
      }
    }
  }

  @media (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
    padding: 72px 44px;

    .section {
      &--heading {
        max-width: 800px;
        * {
          text-align: center;
        }

        h4 {
          margin-left: auto;
        }
      }

      &--form {
        &--input {
          &__label {
            transform-origin: center;
          }
          &:focus ~ label {
            transform: translate(-78px, -8px) rotate(-90deg);
            color: #f5f5f5;
          }
        }

        .has-value {
          label {
            transform: translate(-78px, -8px) rotate(-90deg);
            color: #f5f5f5;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 52px 24px;

    .section {
      &--form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 20px;

        &--input {
          height: 63px;

          &__label {
            top: 31px;
          }

          &:focus ~ label {
            transform: translate(-78px, -8px) rotate(-90deg);
            color: #f5f5f5;
          }
        }

        .has-value {
          label {
            transform: translate(-78px, -8px) rotate(-90deg);
            color: #f5f5f5;
          }
        }

        #submit {
          position: static;
          transform: none;
          height: 63px;
        }
      }
    }
  }
}

// FEATURES PAGE

#architectureSection {
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 210px;
  .section--heading {
    grid-row: 3/4;
  }

  .image_wrapper {
    grid-row: 4/5;
    grid-column: 2/12;
    margin-bottom: 40px;
  }

  .text-block {
    padding: 56px 20px;

    &-1 {
      grid-row: 5/6;
      grid-column: 1/5;
    }

    &-2 {
      grid-row: 5/6;
      grid-column: 5/9;
    }

    &-3 {
      grid-row: 5/6;
      grid-column: 9/13;
    }

    h5 {
      margin-bottom: 10px;
      font-weight: 500;
    }

    @media (max-width: 925px) {
      padding: 32px 15px;

      &-1 {
        grid-column: 2/12;
      }
      &-2 {
        grid-row: 6/7;
        grid-column: 2/12;
      }
      &-3 {
        grid-row: 7/8;
        grid-column: 2/12;
      }
    }

    @media (max-width: 725px) {
      padding: 16px 0;
    }
    @media (max-width: 725px) {
      padding: 8px 0;
    }
  }
}

#fineTunedControlSection {
  .img-block {
    grid-column: 1/5;
  }
  .text-blocks {
    grid-column: 5/13;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding-left: 25px;

    .text-block {
      width: calc((100% / 2) - 60px);
    }
  }
  @media (max-width: 975px) {
    .img-block {
      grid-column: 1/6;
    }
    .text-blocks {
      padding-left: 25px;
      grid-column: 6/13;
      gap: 20px;
      .text-block {
        width: 100%;
      }

      svg {
        height: 25px !important;
        margin-bottom: 4px !important;
      }
    }
  }
  @media (max-width: 575px) {
    .img-block {
      grid-column: 2/12;
    }
    .text-blocks {
      grid-column: 2/12;
      grid-row: 3/4;
      margin-top: 44px;
      padding-left: 0;

      .text-block {
        position: relative;
      }

      svg {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .h6,
      .p-small {
        margin-left: 30px;
      }
    }
  }
}

#thirdPartyAuth {
  margin-top: 165px;
  .section {
    &--heading {
      * {
        text-align: center;
      }
    }
    &--body {
      grid-row: 2/3;
      grid-column: 2/12;
      background-color: #f5f5f5;
      border-radius: 6px;
      padding: 50px 80px;
      gap: 22.5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      svg {
        position: relative;
        transform: scale(1);
        transform-origin: center center;
      }
    }

    @media (max-width: 950px) {
      &--body {
        padding: 35px 60px;

        svg {
          transform: scale(0.8);
        }
      }
    }

    @media (max-width: 750px) {
      &--body {
        padding: 25px 45px;
        justify-content: center;
        flex-wrap: wrap;
        svg {
          transform: scale(0.95);
          width: 45%;
        }
      }
    }

    @media (max-width: 425px) {
      &--body {
        padding: 25px 15px;
        gap: 15px;
      }
    }
  }
}

#optimizedExperienceSection {
  .section {
    &--body {
      grid-row: 2/3;
      grid-column: 1/13;

      display: flex;
      gap: 30px;

      .text-blocks {
        flex-grow: 2;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 60px;
      }

      .image__wrapper {
        flex-grow: 3;
      }

      @media (max-width: 975px) {
        gap: 3vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        .text-blocks {
          grid-column: 1/2;
          gap: 20px;

          .text-block {
            gap: 20px;
          }

          &-1 {
            align-self: flex-end;
          }
        }

        .image__wrapper {
          grid-row: 1/3;
          grid-column: 2/3;
          align-self: center;
        }
      }

      @media (max-width: 575px) {
        grid-template-columns: repeat(12, 1fr);

        .text-blocks {
          grid-column: 2/12;

          &-1 {
            grid-row: 2/3;
            margin-top: 24px;
          }
          &-2 {
            grid-row: 3/4;
          }
        }

        .image__wrapper {
          grid-row: 1/2;
          grid-column: 2/12;
        }
      }
    }
  }
}

#setupSection {
  .section {
    &--body {
      grid-row: 2/3;
      grid-column: 1/13;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        &__wrapper {
          width: 52.5%;
          max-width: 500px;
        }
        .tab {
          transition: 0.125s ease-in-out all;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 25px;
          border: #979797 1px solid;
          border-radius: 4px;
          padding: 22px 19px;
          cursor: pointer;
          width: 100%;
          max-width: 600px;
          &--outer {
            display: flex;
            align-items: center;
            justify-content: stretch;
            gap: 25px;
            width: 100%;
          }

          &--num {
            font-size: 23px;
            font-weight: 600;
            width: 75px;
            text-align: center;
            color: #fff;
            position: relative;
            margin: 0;
            &::before {
              content: "";
              z-index: -1;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: #1688f2;
              width: 56px;
              height: 56px;
              border-radius: 50%;
            }
          }
          &--text {
            h6 {
              font-weight: 800;
              font-size: 16px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }

      .display {
        max-width: 720px;
        min-width: 475px;
        max-height: 720px;
        min-height: 475px;
        width: 25vw;
        height: 25vw;
        overflow: hidden;
        display: grid;
        grid-template-areas: "overlay";
        .slideshow {
          position: relative;
          width: 100%;
          grid-area: overlay;

          & > span,
          & > div {
            grid-area: overlay;
            height: 100%;

            & > span,
            & > div {
              height: 100% !important;
            }
          }

          &--item {
            position: absolute;
            transition: 0.35s ease-in-out all;
            height: 100%;
          }

          @media (max-width: 875px) {
            &--item {
              position: relative;
            }
          }
        }
      }

      .slides-number-group {
        display: none;
        width: 90vw;
        // min-width: 290px;
        justify-content: center;
        gap: 2vw;
        &--item {
          font-size: 28px;
          border-radius: 50%;
          padding: 8px;
          width: 56px;
          height: 56px;
          background-color: #4eb4cf;
          color: #fff;
          border: none;
        }
      }

      @media (max-width: 1150px) {
        .tabs {
          &__wrapper {
            width: 47.5%;
          }
        }
      }
      @media (max-width: 1000px) {
        .tabs {
          &__wrapper {
            width: 45%;
          }
        }

        .display {
          min-width: 400px;
          min-height: 400px;
        }
      }

      @media (max-width: 875px) {
        justify-content: center;
        position: relative;
        flex-direction: column-reverse;
        .tabs {
          position: relative;
          min-height: 170px;
          margin-top: 44px;

          &__wrapper {
            width: calc((100vw / 12) * 8);
            min-width: 280px;
          }
          .tab {
            position: absolute;
            top: 0;
            left: 0;

            &--num {
              display: none;
            }

            &--outer {
              position: absolute;
              top: 0;
              left: 0;
              width: 100;
              min-height: 170px;
            }
          }
        }

        .display {
          width: 75vw;
          height: 75vw;
          min-height: 290px;
          min-width: 290px;
          max-width: none;
          max-height: none;
        }

        .slides-number-group {
          display: flex;
          position: absolute;
          justify-content: space-between;
          z-index: 100;
          top: 0;
          left: 50%;
          transform: translate(-50%, 60vw);
        }
      }

      @media (max-width: 575px) {
        .tabs {
          .tab {
            padding: 12px 19px;
            gap: 10px;
            &--outer {
              display: flex;
              align-items: center;
              justify-content: stretch;
              gap: 20px;
              width: 100%;
            }

            &--num {
              font-size: 18px;
              font-weight: 600;
              width: 60px;
              text-align: center;
              color: #fff;
              position: relative;

              &::before {
                content: "";
                z-index: -1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #4eb4cf;
                width: 52px;
                height: 52px;
                border-radius: 50%;
              }
            }
            &--text {
              h6 {
                font-weight: 800;
              }
              p {
                font-size: 16px;
              }
            }
          }
        }

        .slides-number-group {
          gap: 1.5vw;
          &--item {
            font-size: 20px;
            border-radius: 50%;
            width: 52px;
            height: 52px;
          }
        }
      }
    }
  }
}

// PRICING PAGE

#pricing {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #e9eaf0;

  .section {
    &--heading {
      margin-bottom: 24px;
      h2 {
        margin-bottom: 25px;
      }
    }

    &--form {
      width: 100%;
      position: relative;
      flex-grow: 1;
      max-width: 720px;

      &--input {
        height: 76px;
        padding: 8px 160px 8px 20px;
        border-radius: 6px;
        border: 1px solid #e9eaf0;
        box-shadow: 0 2px 8px rgba(20, 25, 43, 0.06);
        width: 100%;
        &__wrapper {
          position: relative;
        }

        &__label {
          position: absolute;
          top: 38px;
          left: 15px;
          transform: translate(0, -50%);
          color: $off-black;
          pointer-events: none;
          background-color: rgba(255, 255, 255, 0);
          transition: 0.25s ease-in-out all;
          padding: 0 8px;
        }

        &:focus ~ label {
          transform: translate(0, -76px);
          // background-color: #252939;
          // color: #e9eaf0;
        }
      }

      .has-value {
        label {
          transform: translate(0, -76px);
          // background-color: #252939;
          // color: #e9eaf0;
        }
      }

      #submit {
        position: absolute;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        padding: 16px 28px;
      }
      &__wrapper {
        grid-row: 2/3;
        grid-column: 2/12;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 47px;
        row-gap: 40px;
        margin-bottom: 75px;
        margin-top: 5px;
      }

      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 10px;

        &--input {
          height: 63px;

          &__label {
            top: 31px;
          }

          &:focus ~ label {
            transform: translate(-78px, -8px) rotate(-90deg);
            color: #f5f5f5;
          }
        }

        .has-value {
          label {
            transform: translate(-78px, -8px) rotate(-90deg);
            color: #f5f5f5;
          }
        }

        #submit {
          position: static;
          transform: none;
          height: 53px;
        }
      }
    }

    &--body {
      grid-column: 1/13;
      grid-row: 3/4;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 26px;
      row-gap: 16px;

      &--item {
        background-color: #f5f5f5;
        padding: 32px 32px 48px;
        border-radius: 6px;
        max-width: 440px;
        justify-self: center;

        .price {
          &--type {
            color: #888b94;
            margin-bottom: 16px;
            font-weight: 400;
          }
          &--rate {
            color: $off-black;
          }
          &--cta {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 34px;
          }
          &--message {
            margin-bottom: 24px;
          }
        }

        &.blurred {
          filter: blur(10px) opacity(82%) saturate(0.8);
          cursor: not-allowed;
          -moz-user-select: none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;

          .price--cta {
            cursor: not-allowed;
            pointer-events: none;
          }
        }
      }

      #comingSoonBanner {
        display: none;
      }
    }
    &--footer {
      grid-row: 4/5;
      grid-column: 1/13;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 26px;

      .h6 {
        font-weight: 500;
        margin-bottom: 0px;
      }
      p {
        text-align: center;
        a {
          color: $primary-orange;
          text-decoration: none;
          text-align: center;
        }
      }
    }

    @media (max-width: 1080px) {
      &--body {
        // grid-template-columns: 1fr 1fr;
        // grid-template-rows: auto;
        column-gap: 16px;
        &--item {
          padding: 27px 27px 24px;

          &:first-child {
            // grid-column: 1/3;
          }

          .price {
            &--type {
              margin-bottom: 6px;
            }

            &--cta {
              margin-top: 10px;
              margin-bottom: 17px;
            }
          }
        }
      }
    }

    @media (max-width: 875px) {
      &--body {
        grid-template-columns: 10vw 1fr 1fr 10vw;
        grid-template-rows: auto;
        &--item {
          padding: 27px 27px 24px;

          &.blurred {
            height: 90%;
            overflow: hidden;
            * {
              font-size: 0.8em;
            }
          }

          &:first-child {
            grid-column: 2/4;
          }

          &:nth-child(2),
          &:nth-child(3) {
            grid-row: 2/3;
          }

          &:nth-child(2) {
            grid-column: 2/3;
          }

          &:nth-child(3) {
            grid-column: 3/4;
          }

          .price {
            &--type {
              margin-bottom: 6px;
            }

            &--cta {
              margin-top: 10px;
              margin-bottom: 17px;
            }
          }
        }

        #comingSoonBanner {
          display: block;
          grid-row: 2/3;
          grid-column: 2/4;
          align-self: stretch;
          position: relative;
          z-index: 75;
          background-image: linear-gradient(
            to bottom,
            rgba(#fff, 0.4),
            rgba(#fff, 0)
          );
          display: flex;
          align-items: center;

          p {
            color: $black;
            margin-top: -40px;
            padding-top: 40px;
            padding-bottom: 40px;
            position: relative;
            font-size: 1.5em;

            &:before {
              position: absolute;
              left: 0;
              top: 0;
              content: "";
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.25);
              filter: blur(50px);
            }
          }
        }
      }
    }
    @media (max-width: 625px) {
      &--body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        &--item {
          padding: 27px 27px 24px;
          grid-column: 1/2;
          max-width: 90vw;
          justify-self: flex-start;
          &:first-child {
            grid-column: 1/3;
            // max-width: 440px;
          }

          &:nth-child(2),
          &:nth-child(3) {
            grid-row: 2/3;
            max-width: 100%;
          }

          &:nth-child(2) {
            grid-column: 1/2;
          }

          &:nth-child(3) {
            grid-column: 2/3;
          }

          .price {
            &--type {
              margin-bottom: 6px;
            }

            &--cta {
              margin-top: 10px;
              margin-bottom: 17px;
            }
          }
        }

        #comingSoonBanner {
          grid-column: 1/3;
        }
      }
    }
  }
}

#pricingFAQ {
  margin-top: 80px;

  .section {
    &--heading {
      margin-bottom: 46px;
      h4 {
        margin-bottom: 0px;
        text-align: center;
      }
    }

    &--body {
      grid-row: 2/3;
      grid-column: 3/11;
    }

    @media (max-width: 700px) {
      &--body {
        grid-column: 1/13;
      }
    }
  }
}

// CONTACT PAGE

#contactPortal {
  margin-top: 100px;
  padding-bottom: 100px;
  align-items: flex-start;
  border-bottom: 1px solid #e9eaf0;
  grid-template-rows: min-content 1fr;
  .section {
    &--heading {
      grid-row: 1/2;
      grid-column: 1/6;
      align-items: flex-start;
      padding-bottom: 56px;
      margin-bottom: 0;
      border-bottom: 1px solid #e9eaf0;

      h2,
      p {
        text-align: left;
        margin-left: 0;
      }

      h2 {
        margin-bottom: 25px;
      }
    }

    &--info {
      grid-row: 2/3;
      grid-column: 1/6;
      margin-top: 56px;

      display: flex;
      flex-direction: column;
      gap: 34px;

      &--item {
        display: flex;
        gap: 18px;
        text-decoration: none;
        margin-left: 0;
      }

      &--icon {
        margin-top: 7px;
        svg {
          fill: $off-black;
          width: 20px;
          height: 20px;
        }
      }

      &--text {
        h6 {
          font-weight: 500;
          color: $off-black;
          margin-bottom: 8px;
        }

        p {
          color: #0144e4;
          font-weight: 700;
        }
      }
    }

    &--form {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 24px;

      &__wrapper {
        grid-row: 1/3;
        grid-column: 7/13;
        padding: 57px 40px 54px;
        border: 1px solid #e9eaf0;
        border-radius: 6px;
        box-shadow: 0 3px 10px 0 rgb(8 15 52 / 4%);
      }

      &--input {
        width: 100%;
        height: 65px;
        padding: 8px 16px;
        border: 1px solid #e9eaf0;
        border-radius: 6px;
        box-shadow: 0 2px 8px 0 rgb(8 15 52 / 6%);

        &__wrapper {
          position: relative;
          display: flex;
          justify-content: stretch;
          &.half {
            width: calc(50% - 12px);
          }
          &.full {
            width: 100%;
          }

          textarea {
            height: 132px;
            min-height: 132px;
            max-height: 132px;
            min-width: 100%;
          }
        }

        &__label {
          position: absolute;
          top: 32px;
          left: 16px;
          transform: translate(0, -50%);
          color: $gray-text;
          pointer-events: none;
          // display: none;
          background-color: white;
          transition: 0.25s ease-in-out all;
          padding: 0 8px;
        }

        &:focus ~ label {
          transform: translate(0, calc(-50% - 32px));
        }
      }

      .has-value {
        label {
          transform: translate(0, calc(-50% - 32px));
        }
      }
    }

    @media (max-width: 1200px) {
      &--heading {
        grid-column: 1/5;

        h2 {
          margin-bottom: 21px;
        }
      }

      &--info {
        grid-column: 1/5;
      }

      &--form {
        &__wrapper {
          grid-column: 6/13;
        }
      }
    }

    @media (max-width: 980px) {
      &--heading {
        grid-column: 1/7;
        border-bottom: 0;
        padding-right: 56px;
        border-right: 1px solid #e9eaf0;
        padding-bottom: 0;
        align-self: center;

        h2 {
          margin-bottom: 16px;
        }
      }

      &--info {
        grid-column: 8/13;
        grid-row: 1/2;
        margin-top: 0;
        align-self: center;
      }

      &--form {
        &__wrapper {
          grid-column: 1/11;
          grid-row: 2/3;
          margin-top: 56px;
        }
      }
    }

    @media (max-width: 720px) {
      &--heading {
        grid-column: 1/10;
        border-right: 0;
        padding-bottom: 42px;
        border-bottom: 1px solid #e9eaf0;
        padding-right: 0;
        align-self: center;

        h2 {
          margin-bottom: 12px;
        }
      }

      &--info {
        grid-column: 1/12;
        grid-row: 2/3;
        margin-top: 42px;
        align-self: center;

        flex-direction: row;
      }

      &--form {
        &__wrapper {
          grid-column: 1/12;
          grid-row: 3/4;
          margin-top: 56px;
        }

        &--input {
          &__wrapper {
            &.half {
              width: 100%;
            }
          }
        }
      }
    }

    @media (max-width: 475px) {
      &--heading {
        grid-column: 2/10;
      }

      &--info {
        grid-column: 2/12;
        flex-direction: column;
      }

      &--form {
        &__wrapper {
          grid-column: 1/13;
        }
      }
    }
  }
}

#moreContact {
  margin-top: 100px;

  .section {
    &--heading {
      h4 {
        text-align: center;
        margin-bottom: 14px;
      }
    }

    &--body {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 26px;
      grid-row: 2/3;
      grid-column: 1/13;

      &--item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 32px;
        background-color: #f7f8fa;
        text-decoration: none;

        &__wrapper {
          width: calc((100% / 3) - 26px);
          min-width: 260px;
          max-width: 75%;
          flex-grow: 1;
        }

        h6,
        p,
        a {
          text-align: center;
          text-decoration: none;
        }

        svg {
          height: 45px;
          width: 45px;
          margin-bottom: 11px;
          fill: $off-black;
        }

        h6 {
          margin-bottom: 12px;
          color: $off-black;
        }

        .text {
          margin-bottom: 26px;
        }

        .cta {
          font-weight: 600;
          color: #0144e4;
        }
      }
    }

    @media (max-width: 650px) {
      &--body {
        &--item {
          padding: 36px 24px;
          max-width: 86%;
        }
      }
    }
  }
}

#contactFAQ {
  margin-bottom: 160px;
  .section {
    &--heading {
      h4 {
        margin-bottom: 14px;
        text-align: center;
      }
      p {
        padding: 0 2.5vw;
      }
    }

    &--body {
      grid-row: 2/3;
      grid-column: 3/11;
    }

    @media (max-width: 700px) {
      &--body {
        grid-column: 1/13;
      }
    }
  }
}
