@mixin heading
    (
    $font-size,
    $font-weight, 
    $line-height, 
    $letter-spacing, 
    ) 
{
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}




h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
label {
    font-family: 'Plus Jakarta Display';
}

p, 
span,
a,
input,
textarea {
    font-family: 'Plus Jakarta Text';
}

input, textarea, label {
    font-size: 16px;
}

.p-large {
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 500;
    color: $gray-text;
}

.p-small {
    font-size: 20px;
    line-height: 175%;
    color: $gray-text;
}


h1, .h1 { @include heading(60px, 500, 127.5%, .0025em) }

h2, .h2 { @include heading(50px, 500, 127.5%, .035em) }

h3, .h3 { @include heading(44px, 500, 120%, .025em) }

h4, .h4 { @include heading(37px, 500, 145%, .025em) }

h5, .h5 { @include heading(28px, 500, 120%, .035em) }

h6, .h6 { @include heading(23px, 500, 145%, .025) }


.j-text {
    font-family: 'Plus Jakarta Text';
}

.j-display {
    font-family: 'Plus Jakarta Display';
}

.italic {
    font-style: italic;
}

._200 {
    font-weight: 200;
}
._300 {
    font-weight: 300;
}
._400 {
    font-weight: 400;
}
._500 {
    font-weight: 500;
}
._600 {
    font-weight: 600;
}
._700 {
    font-weight: 700;
}
._800 {
    font-weight: 800;
}

@media (max-width: 1920px) {
    h1, .h1 { @include heading(50px, 500, 127.5%, .0025em) }
    h2, .h2 { @include heading(44px, 500, 127.5%, .035em) }
    h3, .h3 { @include heading(40px, 500, 127.5%, .035em)}
    h4, .h4 { @include heading(32px, 500, 145%, .025em) }
    h5, .h5 { @include heading(24px, 400, 120%, .035em) }
    h6, .h6 { @include heading(20px, 700, 145%, .025) }

    .p-large {
        font-size: 22px;
    }
    
    .p-small {
        font-size: 17px;
    }
}

@media (max-width: 1150px) {
    h1, .h1 { @include heading(45px, 500, 127.5%, .0025em) }
    h2, .h2 { @include heading(40px, 500, 127.5%, .035em) }
    h3, .h3 { @include heading(35px, 500, 127.5%, .035em)}
    h4, .h4 { @include heading(28px, 500, 145%, .025em) }
    h5, .h5 { @include heading(23px, 400, 120%, .035em) }
    h6, .h6 { @include heading(18px, 700, 145%, .025) }

    .p-large { font-size: 21px; }
    .p-small {
        font-size: 16px;
    }

}

@media (max-width: 820px) {
    h1, .h1 { @include heading(36px, 500, 127.5%, .0025em) }
    h2, .h2 { @include heading(33px, 500, 127.5%, .035em) }
    h3, .h3 { @include heading(31px, 500, 127.5%, .035em)}
    h4, .h4 { @include heading(26px, 500, 145%, .025em) }
    h5, .h5 { @include heading(22px, 400, 120%, .035em) }

    .p-large { font-size: 18px; }
    .p-small {
        font-size: 15px;
    }
}

@media (max-width: 530px) {
    h1, .h1 { @include heading(32px, 500, 127.5%, .0025em) }
    h2, .h2 { @include heading(29px, 500, 127.5%, .035em) }
    h3, .h3 { @include heading(27px, 500, 127.5%, .035em)}
    h5, .h5 { @include heading(19px, 400, 120%, .035em) }
    h6, .h6 { @include heading(16px, 700, 145%, .025) }


    .p-large { font-size: 17px; }
    .p-small {
        font-size: 14px;
    }
}