@mixin heading
    (
    $font-size,
    $font-weight, 
    $line-height, 
    $letter-spacing, 
    ) 
{
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}



.j-text {
    font-family: 'Plus Jakarta Text';
}

.j-display {
    font-family: 'Plus Jakarta Display';
}

.italic {
    font-style: italic;
}

._200 {
    font-weight: 200;
}
._300 {
    font-weight: 300;
}
._400 {
    font-weight: 400;
}
._500 {
    font-weight: 500;
}
._600 {
    font-weight: 600;
}
._700 {
    font-weight: 700;
}
._800 {
    font-weight: 800;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Plus Jakarta Display';
}

p, 
span,
a {
    font-family: 'Plus Jakarta Text';
}

.p-large {
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 500;
}

.p-small {
    font-size: 20px;
    line-height: 175%;
}


h1, .h1 { @include heading(60px, 500, 127.5%, .0025em) }

h2, .h2 { @include heading(50px, 500, 127.5%, .035) }

h3, .h3 { @include heading(48px, 500, 120%, .025em) }

h4, .h4 { @include heading(37px, 500, 145%, .025em) }

h5, .h5 { @include heading(24px, 700, 120%, .035em) }

h6, .h6 { @include heading(20px, 700, 145%, .025) }
