



// COLOR VARIABLES

$primary-blue: #139bbf;
$primary-sea-green: #27c1bc;
$primary-orange: #e55217;

$secondary-blue: #1688f2;
$secondary-orange: #e55217;
$secondary-yellow: #ffb726;

$off-white: #ebf1f8;
$white: #f5f5f5;
$off-black: #252939;
$black: #121212;

$gray-text: #888b94;