
// COLOR VARIABLES
$primary-white: #f5f5f5;
$primary-black: #101010;
$secondary-white: #fdfdfd;
$secondary-black: #181c1c;
$mint: #88E4C3;
$pale-mint: #C3CCCC;
$pastel-red: #EC5563;
$blue-light: #339BFC;
$blue-mid: #151779;
$blue-dark: #030430;
$gray-1: #333;
$gray-2: #666;
$gray-3: #999;
$gray-4: #ccc;