// CONTACT PAGE

#contactBG {
  position: absolute;
  top: 25px;
  z-index: -2;
  transform: translateY(-110px);
  min-width: 1850px;
}

#contactPortal {
  margin-top: 25px;
  align-items: flex-start;
  grid-template-rows: min-content 1fr;

  .section {
    &--heading {
      grid-row: 1/2;
      grid-column: 2/12;
      align-items: flex-start;
      padding-bottom: 27px;
      padding-top: 46px;
      margin-bottom: 0;

      h2,
      p {
        text-align: center;
        margin-left: 0;
        width: 100%;
      }

      h2 {
        margin-bottom: 5px;
      }

      p {
        color: #D1D1D1;
      }
    }

    &--info {
      grid-row: 2/3;
      grid-column: 1/6;
      margin-top: 56px;
      display: flex;
      flex-direction: column;
      gap: 34px;
      display: none;

      &--item {
        display: flex;
        gap: 18px;
        text-decoration: none;
        margin-left: 0;
      }

      &--icon {
        margin-top: 7px;
        svg {
          fill: $off-white;
          width: 20px;
          height: 20px;
        }
      }

      &--text {
        h6 {
          font-weight: 500;
          color: $off-white;
          margin-bottom: 8px;
        }

        p {
          color: $primary-orange;
          font-weight: 700;
        }
      }
    }

    &--form {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 16px;

      &__wrapper {
        grid-row: 2/3;
        grid-column: 3/11;
        // margin-top: 56px;
        padding: 55px 45px 50px 65px;
        border: 1px solid #e9eaf0;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 3px 10px 0 rgb(8 15 52 / 4%);
        max-width: 839px;
        justify-self: center;
      }

      #submit {
        margin: 0;
        font-size: 18px;
        letter-spacing: .025em;
        width: 45%;
        min-width: 200px;
        max-width: 400px;
        padding: 10px 38px;
      }

      &--input {
        width: 100%;
        height: 51px;
        padding: 12px 16px 4px 21px;
        border: 1px solid #e9eaf0;
        border-radius: 6px;
        box-shadow: 0 3px 15px 0 rgb(8 15 52 / 10%);
        background-color: #fff;

        &__wrapper {
          position: relative;
          display: flex;
          justify-content: stretch;
          &.half {
            width: calc(50% - 24px);
          }
          &.full {
            width: calc(100% - 24px);
          }

          textarea {
            height: 166px;
            min-height: 166px;
            max-height: 166px;
            min-width: 100%;
            padding-top: 18px;
          }

          select {
            // max-width: 583px;
            appearance: none;
            option {
              color: $gray-text;
            }
          }
        }

        &__label {
          position: absolute;
          top: 25px;
          left: 21px;
          transform: translate(0, -50%) scale(1);
          transform-origin: left center;
          opacity: 1;
          color: $off-black;
          pointer-events: none;
          background-color: white;
          transition: 0.25s ease-in-out all;
          padding: 0 8px;
        }

        &:focus ~ label {
          transform: translate(0, calc(-50% - 15px)) scale(.8);
        }

        &__caret {
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translate(0, -50%) scaleX(1.225);
          transform-origin: right center;
          fill: #5C5F6B;
          height: 18px;
          width: auto;
        }
      }

      .optInWrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25px;

        .disclaimer {
          margin-left: 0;
          font-style: italic;
          font-weight: 500;
          color: $gray-text;

          a {
            font-weight: 500;
            color: $primary-orange;
          }
        }
      }

      label[for="newsletterOptIn"] {
        position: relative;
        pointer-events: all;
        cursor: pointer;
        top: unset;
        left: unset;
        margin-left: 0;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 12px;
        padding-left: 0;
        span {
          color: $black;

        }
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background: #fff;
        margin: 0;
        font: inherit;
        color: $primary-orange;
        width: 24px;
        height: 24px;
        border: 3px solid $black;
        border-radius: 2px;
        transform: translateY(-3px);

        display: grid;
        place-content: center;

        &::before {
          content: '';
          width: 14px;
          height: 14px;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 18px 18px $primary-orange;
          background-color: $black;
          transform-origin: bottom left;
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        &:checked {

          &::before {
            transform: scale(1);
          }
        }

        &:focus {
          outline: 2px solid $black;
          outline-offset: 2px;
        }
      }

      .has-value {
        label {
          transform: translate(0, calc(-50% - 15px)) scale(.8);
        }
      }
    }

    @media (max-width: 1200px) {
      &--info {
        grid-column: 1/5;
      }
    }

    @media (max-width: 980px) {
      &--heading {
        border-bottom: 0;
        padding-right: 56px;
        // border-right: 1px solid #e9eaf0;
        padding-bottom: 0;
        align-self: center;

        h2 {
          margin-bottom: 16px;
        }
      }

      &--info {
        grid-column: 8/13;
        grid-row: 1/2;
        margin-top: 0;
        align-self: center;
      }

      &--form {
        &__wrapper {
          grid-column: 2/12;
          grid-row: 2/3;
          margin-top: 56px;
        }
      }
    }

    @media (max-width: 720px) {
      &--heading {
        border-right: 0;
        padding-right: 0;
        align-self: center;

        h2 {
          margin-bottom: 12px;
        }
      }

      &--info {
        grid-column: 1/12;
        grid-row: 2/3;
        margin-top: 42px;
        align-self: center;

        flex-direction: row;
      }

      &--form {
        &__wrapper {
          grid-column: 2/12;
          grid-row: 2/3;
          padding: 35px 27px 30px 27px;
        }

        &--input {
          &__wrapper {
            &.half {
              width: 100%;
            }
          }
        }
      }
    }

    @media (max-width: 475px) {
      &--heading {
        padding-top: 0;

        h2 {
          margin-bottom: 3px;
        }
      }

      &--info {
        grid-column: 2/12;
        flex-direction: column;
      }

      &--form {
        &__wrapper {
          grid-column: 1/13;
          margin: 30px 4vw 0;
        }

        &--input {

          &__wrapper {

            &.full,
            &.half {
              width: 100%;
              max-width: none;
            }
          }

          &__label {
            left: 16px;
          }

          &__caret {
            right: 20px;
            height: 15px;
          }
        }

        .has-value.with-caret {
            position: relative;

            &::before {
              pointer-events: none;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
            }
        }

        #submit {
          width: 100%;
        }
      }
    }
  }

  @media (min-width: 1920px) {
    padding-bottom: 1.9vw;
  }
}

#moreContact {
  margin-top: 100px;

  .section {
    &--heading {
      h4 {
        text-align: center;
        margin-bottom: 14px;
      }
    }

    &--body {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 26px;
      grid-row: 2/3;
      grid-column: 1/13;

      &--item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 32px;
        background-color: #f7f8fa;
        text-decoration: none;

        &__wrapper {
          width: calc((100% / 3) - 26px);
          min-width: 260px;
          max-width: 75%;
          flex-grow: 1;
        }

        h6,
        p,
        a {
          text-align: center;
          text-decoration: none;
        }

        svg {
          height: 45px;
          width: 45px;
          margin-bottom: 11px;
          fill: $off-black;
        }

        h6 {
          margin-bottom: 12px;
          color: $off-black;
        }

        .text {
          margin-bottom: 26px;
        }

        .cta {
          font-weight: 600;
          color: #0144e4;
        }
      }
    }

    @media (max-width: 650px) {
      &--body {
        &--item {
          padding: 36px 24px;
          max-width: 86%;
        }
      }
    }
  }
}

#contactFAQ {
  margin-bottom: 160px;
  .section {
    &--heading {
      h4 {
        margin-bottom: 14px;
        text-align: center;
      }
      p {
        padding: 0 2.5vw;
      }
    }

    &--body {
      grid-row: 2/3;
      grid-column: 3/11;
    }

    @media (max-width: 700px) {
      &--body {
        grid-column: 1/13;
      }
    }
  }
}
