#firstBannerHomepage {
	margin-top: 0;
	column-gap: 15px;
	row-gap: 0;
	position: relative;
	grid-template-rows: minmax(150px, auto) auto;
	padding: 200px 0vw;
	.bg {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100vw;
		transform: translateX(-50%);
		height: 100%;
		z-index: 2;
		background-color: $primary-black;
		clip-path: polygon(0% 6.2vw, 100% 0%, 100% 100%, 0% 90%);
	}

	.decor {
		&__circle {
			&-1 {
				position: absolute;
				right: 0;
				top: 0;
				z-index: 1;
				height: 24vw;
				width: 24vw;
				max-width: 455px;
				max-height: 455px;
				background-color: $mint;
				transform: translate(40%, -51%);
				border-radius: 50%;
			}
			&-2 {
				position: absolute;
				left: -100px;
				bottom: 0;
				z-index: 1;
				height: 24vw;
				width: 24vw;
				max-width: 455px;
				max-height: 455px;
				background-color: $pastel-red;
				transform: translate(-25%, 62%);
				border-radius: 50%;
			}
		}
	}

	.banner {
		&--title {
			position: relative;
			z-index: 3;
			grid-column: 8/13;
			grid-row: 1/2;
			align-self: flex-end;
			color: $primary-white;
			padding-left: 3vw;

			.h2 {
				font-weight: 600;
				padding-bottom: 13px;
			}
		}
		&--paragraph {
			position: relative;
			z-index: 3;
			grid-column: 8/13;
			grid-row: 2/3;
			align-self: flex-start;
			padding-left: 3vw;

			.btn {
				margin-top: 80px;
				background: $primary-white;
				color: $primary-black;
				border-color: $primary-white;
				width: 275px;
			}

			.p-lg {
				color: $primary-white;
			}
		}
		&--image {
			position: relative;
			z-index: 3;
			min-width: 500px;
			grid-column: 1/8;
			grid-row: 1/3;
			padding-right: calc(100vw / 18);
		}
	}

	@keyframes pulseInOut {
		0% {
			transform: scale(1);
		}

		100% {
			transform: scale(1.1);
		}
	}

	@media (max-width: 1600px) {
		padding: 200px 2.5vw;

		.banner {
			&--title,
			&--paragraph {
				padding-left: 0vw;
			}

			&--image {
				padding-right: 3vw;
			}
		}
	}

	@media (max-width: 1250px) {
		.banner {
			&--title {
				.h2 {
					padding-bottom: 8px;
				}
			}
			&--paragraph {
				.btn {
					margin-top: 50px;
				}
			}
		}
	}

	@media (max-width: 1080px) {
		padding: 225px 2.5vw 150px;
		grid-template-rows: min-content min-content min-content;
		row-gap: 30px;

		.banner {
			&--title {
				grid-row: 1/2;
				grid-column: 3/11;
				text-align: center;
			}
			&--paragraph {
				grid-row: 3/4;
				grid-column: 2/12;
				text-align: center;

				.btn {
					width: 50vw;
					min-width: 300px;
				}
			}
			&--image {
				grid-row: 2/3;
				grid-column: 2/12;
				padding: 0 5vw;
			}
		}
	}

	@media (max-width: 900px) {
		padding: 150px 2.5vw 150px;

		.bg {
			clip-path: polygon(0% 6.2vw, 100% 0%, 100% 100%, 0% 95%);
		}
	}

	@media (max-width: 675px) {
		padding: 130px 2.5vw 150px;

		.banner {
			&--title {
				grid-column: 2/12;
			}
			&--image {
				grid-column: 1/13;
				min-width: 0;
			}
		}
	}
	@media (max-width: 475px) {
		padding: 125px 2.5vw;

		.banner {
			&--title {
				grid-column: 1/13;

				.h2 {
					padding: 0 1vw;
				}
			}
			&--paragraph {
				grid-column: 1/13;

				.p-lg {
					padding: 0 1vw;
				}

				.btn {
					width: 90vw;
					min-width: 0;
				}
			}
		}
	}
}

#sectionWhatHomepage {
	margin-top: 150px;

	.section {
		&--body {
			grid-column: 1/13;
			grid-row: 2/3;
			display: flex;
			flex-direction: column;
			row-gap: 45px;
			padding: 0;
			align-items: center;
			&--item {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				grid-template-rows: auto;
				max-width: 100%;

				.text-block {
					grid-column: 2/6;
					grid-row: 1/2;
					align-self: flex-end;

					h3 {
						margin-bottom: 12px;
					}
				}

				.checklist {
					grid-column: 2/6;
					grid-row: 2/3;
					margin-top: 44px;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 12px;
					&--item {
						display: flex;
						align-items: center;
						gap: 12px;

						.h5 {
							font-weight: 600;
							text-align: left;
						}

						&__icon {
							min-width: 30px;
							width: 30px;
							height: 30px;

							path {
								&:first-child,
								&:nth-child(2) {
									fill: $pastel-red;
								}
								&:nth-child(3) {
									fill: $primary-black;
								}
							}
						}
					}
				}

				.image__wrapper {
					grid-column: 7/12;
					grid-row: 1/3;
					align-self: center;
					width: 650px;
					max-width: 100%;

					svg g[id*="card"] {
						filter: drop-shadow(0 18px 16px rgba(20, 25, 43, 0.16));
						position: relative;
						transition: transform 3.5s cubic-bezier(0.22, 1, 0.36, 1);
					}
				}
				&.reversed {
					flex-direction: row-reverse;

					.text-block {
						grid-column: 8/12;
					}

					.checklist {
						grid-column: 8/12;
					}

					.image__wrapper {
						grid-column: 2/7;
					}
				}
			}

			.cta-group {
				justify-content: center;
				margin-top: 50px;
				column-gap: 20px;

				.cta {
					min-width: 235px;

					.btn {
						width: 100%;
					}
				}
			}
		}
	}

	@media (max-width: 1525px) {
		margin-top: 100px;
	}

	@media (max-width: 1250px) {
		.section {
			&--body {
				row-gap: 65px;

				&--item {
					.image__wrapper {
						grid-column: 6/13;
						padding: 0 5vw;
					}

					&:not(.reversed) {
						.text-block,
						.checklist {
							grid-column: 1/6;
							padding-left: 5vw;
						}
					}

					&.reversed {
						.image__wrapper {
							grid-column: 1/8;
						}
						.text-block,
						.checklist {
							grid-column: 8/13;
							padding-right: 5vw;
						}
					}
				}
			}

			&--heading {
				margin-bottom: 80px;
			}
		}
	}

	@media (max-width: 1100px) {
		margin-top: 80px;
		.section {
			&--body {
				&--item {
					.checklist {
						margin-top: 33px;
						gap: 8px;
					}
					.text-block {
						.h3 {
							margin-bottom: 8px;
						}
					}

					&:not(.reversed) {
						.image__wrapper {
							padding: 0 5vw 0 10vw;
						}
						.text-block,
						.checklist {
							grid-column: 1/7;
							padding: 0 5vw 0 6vw;
						}
					}

					&.reversed {
						.image__wrapper {
							padding: 0 10vw 0 5vw;
						}
						.text-block,
						.checklist {
							grid-column: 7/13;
							padding: 0 6vw 0 5vw;
						}
					}
				}
			}
		}
	}

	@media (max-width: 820px) {
		margin-top: 70px;

		.section {
			&--heading {
				grid-column: 3/11;
			}
			&--body {
				row-gap: 80px;
				&--item {
					&:not(.reversed),
					&.reversed {
						.text-block {
							grid-column: 1/11;
							padding: 0 0 0 5vw;
						}

						.checklist {
							grid-column: 7/13;
							padding: 0 5vw 0 0;
							align-self: center;
							margin-top: 0;
							gap: 16px;

							&--item {
								gap: 8px;

								&__icon {
									min-width: 24px;
									width: 24px;
									height: 24px;
								}
							}
						}

						.image__wrapper {
							grid-row: 2/3;
							grid-column: 1/7;
							padding: 40px 5vw 0 2.5vw;
						}
					}
				}

				.cta-group {
					width: 80vw;
					min-width: 300px;
					justify-content: stretch;
					margin-top: 25px;

					.cta {
						flex-grow: 1;
					}
				}
			}
		}
	}

	@media (max-width: 650px) {
		.section {
			&--body {
				&--item,
				&--item.reversed {
					.image {
						&__wrapper {
							grid-column: 1/13;
							grid-row: 2/3;
							margin-left: 0;
						}
					}
				}

				&--item {
					&:not(.reversed),
					&.reversed {
						.text-block {
							grid-column: 2/12;
							padding: 0;
						}

						.checklist {
							grid-row: 2/3;
							grid-column: 2/11;
							padding: 0;
							margin-top: 2px;
							padding: 15px 0 35px;
						}

						.image__wrapper {
							grid-row: 3/4;
							grid-column: 2/11;
							padding: 0;
						}
					}
				}
			}
		}
	}

	@media (max-width: 575px) {
		.section {
			&--body {
				&--item {
					&.reversed,
					&:not(.reversed) {
						max-width: none;
						margin: 0 3.5vw;
					}
				}

				.cta-group {
					align-items: center;
					margin-top: 0px;
					margin-bottom: 0;
					width: calc(100% - 7vw);

					.cta {
						width: 100%;

						.btn {
							width: 100%;
						}
					}
				}
			}
			&--heading {
				grid-column: 2/12;
			}
		}
	}

	@media (max-width: 420px) {
		.section {
			&--body {
				&--item {
					&.reversed,
					&:not(.reversed) {
						.image__wrapper {
							grid-column: 1/13;
						}
					}
				}
			}
		}
	}
}

#emailIntake {
	position: relative;
	display: flex;
	z-index: 10;
	flex-direction: column;
	align-items: center;
	row-gap: 43px;
	padding: 120px 52px;
	margin-top: 80px;
	max-width: 1150px;
	width: 80vw;
	grid-column: 1/13;

	.bg {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		width: 100vw;
		height: 100%;
		background-color: $pale-mint;
		clip-path: polygon(0% 4.4vw, 100% 0%, 100% 100%, 0% 100%);
	}

	.section {
		&--heading {
			max-width: 450px;
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: 12px;
			* {
				text-align: center;
				margin-left: 0;
				color: $primary-black;
			}
			h3 {
				margin-bottom: 0;
			}
		}

		&--form {
			width: 100%;
			position: relative;
			flex-grow: 1;

			&__wrapper {
				flex-grow: 1;
				display: flex;
				align-items: center;
				max-width: 740px;
				width: 75vw;
			}
			&--input {
				height: 67px;
				padding: 8px 160px 0px 63px;
				border-radius: 10px;
				border: 3px solid $primary-black;
				box-shadow: 0 2px 8px rgba(20, 25, 43, 0.06);
				width: 100%;
				min-width: 475px;
				&__wrapper {
					position: relative;
				}

				&__icon {
					position: absolute;
					width: 30px;
					height: auto;
					left: 15px;
					top: 50%;
					transform: translateY(-50%);
					fill: $pastel-red;
				}

				&__label {
					position: absolute;
					top: 50%;
					left: 60px;
					transform: translate(0, -50%);
					transform-origin: left center;
					color: $gray-3;
					pointer-events: none;
					background-color: rgba(255, 255, 255, 0);
					transition: 0.25s ease-in-out all;
					padding: 0 8px;
					font-size: 18px;
				}

				&:focus ~ label {
					transform: translate(0, calc(-50% - 17px)) scale(0.75);
				}
			}

			.has-value {
				label {
					transform: translate(0, calc(-50% - 17px)) scale(0.75);
				}
			}

			#submit {
				position: absolute;
				right: 0;
				top: 0;
				font-size: 18px;
				padding: 16px 28px;
				height: 100%;
				width: 200px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				&:hover,
				&:active,
				&:focus {
					transform: scale(1) translateY(0);
				}
			}
		}
	}

	@media (max-width: 820px) {
		padding: 85px 0px 90px;
		width: 85vw;
		min-width: 275px;
		row-gap: 30px;
		.section {

			&--heading {
				gap: 6px;
			}

			&--form {

				&__wrapper {
					width: 100%;
				}

				&--input {
					min-width: 0;
					padding: 8px 170px 2px 48px;
					&__icon {
						width: 26px;
						left: 14px;
					}

					&__label {
						left: 43px;
					}
				}

				#submit {
					padding: 16px 20px;
					min-width: 0;
					width: 170px;
				}
			}
		}
	}

	@media (max-width: 575px) {
		padding: 75px 0;
		margin-top: 110px;
		width: 95vw;
		.section {
			&--heading {
				gap: 2px;
			}

			&--form {
				&--input {
					height: 63px;

					&__label {
						top: 31px;
					}
				}
			}
		}
	}
	@media (max-width: 450px) {

		.section {

			&--form {

				&--input {
					font-size: 14px;
					padding: 8px 110px 2px 48px;

					&__label {
						font-size: 15px;
					}
				}
				#submit {
					font-size: 15px;
					padding: 10px 4px;
					width: 110px;
				}
			}
		}
	}
}

.email-intake-wrapper {
	position: relative;
	.decor {
		&__circle {
			&-1 {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 11;
				height: 24vw;
				width: 24vw;
				max-width: 455px;
				max-height: 455px;
				background-color: $primary-black;
				transform: translate(-80%, -10%);
				border-radius: 50%;
			}
			&-2 {
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 11;
				height: 24vw;
				width: 24vw;
				max-width: 455px;
				max-height: 455px;
				background-color: $blue-mid;
				transform: translate(65%, 36%);
				border-radius: 50%;
			}
		}
	}
}

#sectionWhoHomepage {
	margin-top: -80px;
	padding-top: 240px;
	position: relative;
	z-index: 12;

	.bg {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 200vw;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		height: 100%;
		z-index: -1;
		background-color: $primary-black;
		clip-path: polygon(0% 0%, 100% 80px, 100% 100%, 0% 100%);
	}

	.section {
		&--heading {
			margin-bottom: 80px;
			h2,
			p {
				color: $primary-white;
			}
		}
	}

	.card {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-radius: 6px;
		gap: 0px;
		padding: 40px 25px 53px;
		font-size: 20px;
		flex: 1 1 0%;

		&--icon {
			fill: $pastel-red;
			width: 110px;
			height: 110px;
			position: relative;
			&#rocket {
				transform: rotate(45deg);
			}
		}
		&--text {
			max-width: 100%;
			margin-bottom: 0;
			margin: 25px 0 35px;
			text-align: center;
			color: $primary-white;
		}
		h3 {
			margin-bottom: 16px;
			font-weight: 600;
		}

		.btn {
			display: inline-block;
			text-decoration: none;
			margin-top: auto;
			text-align: center;
			width: 85%;
			max-width: 90vw;
		}
		&__wrapper {
			gap: 15px;
			justify-content: space-between;
			padding: 0 5vw;

			.divider {
				width: 1px;
				height: 225px;
				background-color: $primary-white;
				align-self: center;
			}
		}

		&__image {
			filter: hue-rotate(145deg) brightness(90%);
		}
	}

	@media (max-width: 1200px) {
		padding-top: 200px;
		padding-bottom: 31px;

		.section {
			&--heading {
				grid-column: 3/11;
			}
		}
	}

	@media (max-width: 960px) {
		padding-top: 180px;

		.section {
			&--heading {
				margin-bottom: 40px;
			}
		}
		.card {
			flex-direction: row;
			width: 100%;
			max-width: 80vw;
			min-width: 300px;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			padding: 20px 25px 42px;
			.btn {
				width: 100%;
				justify-self: flex-start;
				margin-left: 0;
				min-width: 300px;
			}

			&:nth-child(odd) {
				flex-direction: row-reverse;
			}

			&--text {
				flex-grow: 1;
				justify-self: flex-start;
				max-width: 75%;

				h3,
				p {
					text-align: left;
				}
			}

			&__wrapper {
				gap: 12px;
				flex-direction: column;
				align-items: center;
				grid-column: 2/12;

				.divider {
					height: 1px;
					width: 225px;
					background-color: $primary-white;
					align-self: center;
				}
			}

			&__image {
				&__wrapper {
					width: 37.5%;
					padding-right: 5.2vw;
					align-self: flex-end;
				}
			}
		}
	}

	@media (max-width: 700px) {
		padding-top: 150px;
		.card {
			&--text {
				max-width: 42vw;
			}
		}
	}

	@media (max-width: 575px) {
		.card {
			width: 100%;
			min-width: 0px;
			padding-left: 0;
			padding-right: 0;
			&:nth-child(odd),
			&:nth-child(even) {
				flex-direction: column;

				.card {
					&--text {
						max-width: 100%;
						* {
							text-align: center;
						}
					}
				}
			}

			.btn {
				min-width: 0px;
			}

			h5 {
				margin-bottom: 3px;
			}

			&__wrapper {
				gap: 18px;
			}

			&__image {
				&__wrapper {
					width: 40%;
					padding-right: 0vw;
					align-self: flex-end;
				}
			}

			&:nth-child(even) {
				.card__image__wrapper {
					padding-left: 0vw;
				}
			}
		}
	}
}

#blogPreview {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 0;
	padding-top: 170px;
	padding-bottom: 45px;
	padding: 170px 5vw 45px;
	margin-bottom: -2px;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 200vw;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		height: 100%;
		z-index: 0;
		background-color: $primary-black;
	}

	.section--heading {
		color: $primary-white;
		margin-bottom: 24px;
		position: relative;
		z-index: 1;
	}

	#blogPosts {
		margin-top: 42px;
	}

	.blogs {
		grid-template-columns: 1fr 1fr 1fr;

		&--preview {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: space-between;
			padding: 52px 57px;
			border-radius: 16px;
			border: 3px solid $pastel-red;
			text-decoration: none;
			color: $primary-white;
			transition: all 0.1s ease-out;
			transform: scale(1) translate3d(0, 0, 0);
			box-shadow: 0 20px 8px rgba(0, 0, 0, 0.01), 0 13px 7px rgba(0, 0, 0, 0.1),
				0 3px 6px rgba(0, 0, 0, 0.35), 0 3px 4px rgba(0, 0, 0, 0.6),
				0 1px 2px rgba(0, 0, 0, 0.69), 0 0px 0px rgba(0, 0, 0, 0.7);

			svg {
				position: relative;
				transform-origin: top right;
				transform: scale(1.15);
				width: 116px;
				height: 112px;
			}

			&:hover,
			&:active,
			&:focus {
				transform: scale(1.01) translate3d(0, -1%, 0);
				box-shadow: 0 24px 13px rgba(0, 0, 0, 0.02),
					0 16px 11px rgba(0, 0, 0, 0.14), 0 9px 10px rgba(0, 0, 0, 0.48),
					0 4px 7px rgba(0, 0, 0, 0.81), 0 2px 4px rgba(0, 0, 0, 0.93),
					0 0px 0px rgba(0, 0, 0, 0.95);
			}
		}
	}

	@media (max-width: 1150px) {
		.blogs {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr min-content;

			&--preview {
				grid-row: 2/3;
				grid-column: 1/3;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				padding: 30px 85px;
				gap: 60px;
				svg {
					width: 87px;
					height: 85px;
					transform: scale(1);
				}
			}
		}
	}
	@media (max-width: 850px) {
		.blogs {
			row-gap: 25px;
			column-gap: 10px;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			&--preview {
				grid-row: 3/4;
			}

			.blog {
				&:first-child {
					grid-row: 1/2;
				}
				&:nth-child(2) {
					grid-row: 2/3;
				}
			}
		}
	}
	@media (max-width: 650px) {
		.blogs {

			&--preview {
				padding: 20px 45px;
				gap: 30px;

			}
		}
	}
}
