#firstBannerHomepage {
	margin-top: 0;
	column-gap: 15px;
	row-gap: 0;
	position: relative;
	grid-template-rows: minmax(150px, auto) auto;
	padding: 200px 0vw;
	.bg {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100vw;
		transform: translateX(-50%);
		height: 100%;
		z-index: 2;
		background-color: $primary-black;
		clip-path: polygon(0% 6.2vw, 100% 0%, 100% 100%, 0% 90%);
	}

	.decor {
		&__circle {
			&-1 {
				position: absolute;
				right: 0;
				top: 0;
				z-index: 1;
				height: 24vw;
				width: 24vw;
				max-width: 455px;
				max-height: 455px;
				background-color: $mint;
				transform: translate(40%, -51%);
				border-radius: 50%;
			}
			&-2 {
				position: absolute;
				left: -100px;
				bottom: 0;
				z-index: 1;
				height: 24vw;
				width: 24vw;
				max-width: 455px;
				max-height: 455px;
				background-color: $pastel-red;
				transform: translate(-25%, 62%);
				border-radius: 50%;
			}
		}
	}

	.banner {
		&--title {
			position: relative;
			z-index: 3;
			grid-column: 8/13;
			grid-row: 1/2;
			align-self: flex-end;
			color: $primary-white;
			padding-left: 3vw;

			.h2 {
				font-weight: 600;
				padding-bottom: 13px;
			}
		}
		&--paragraph {
			position: relative;
			z-index: 3;
			grid-column: 8/13;
			grid-row: 2/3;
			align-self: flex-start;
			padding-left: 3vw;

			.btn {
				margin-top: 80px;
				background: $primary-white;
				color: $primary-black;
				border-color: $primary-white;
				width: 275px;
			}

			.p-lg {
				color: $primary-white;
			}
		}
		&--image {
			position: relative;
			z-index: 3;
			min-width: 500px;
			grid-column: 1/8;
			grid-row: 1/3;
			padding-right: calc(100vw / 18);
		}
	}

	@keyframes pulseInOut {
		0% {
			transform: scale(1);
		}

		100% {
			transform: scale(1.1);
		}
	}

	@media (max-width: 1600px) {
		padding: 200px 2.5vw;

		.banner {
			&--title,
			&--paragraph {
				padding-left: 0vw;
			}

			&--image {
				padding-right: 3vw;
			}
		}

	}

	@media (max-width: 1250px) {
		.banner {
			&--title {
				.h2 {
					padding-bottom: 8px;
				}
			}
			&--paragraph {
				.btn {
					margin-top: 50px;
				}
			}
		}
	}

	@media (max-width: 1080px) {
		grid-template-rows: min-content min-content min-content;
		row-gap: 30px;
		.banner {
			&--title {
				grid-row: 1/2;
				grid-column: 4/10;
				text-align: center;
			}
			&--paragraph {
				grid-row: 3/4;
				grid-column: 3/11;
				text-align: center;
			}
			&--image {
				grid-row: 2/3;
				grid-column: 2/12;
				padding: 0 5vw;
			}
		}
	}

	@media (max-width: 960px) {
		.banner {
			&--title {
				grid-column: 1/6;
			}
			&--paragraph {
				grid-column: 1/12;
				grid-row: 2/3;
			}
			&--image {
				grid-row: 1/2;
				grid-column: 6/13;
				padding: 34px;
			}
		}
		.image_wrapper {
			min-width: 0px;
		}
	}

	@media (max-width: 675px) {
		.h5 {
			margin-bottom: 8px;
		}

		.banner {
			&--title {
				grid-column: 2/12;
				grid-row: 1/2;
				padding-left: 0;
			}
			&--paragraph {
				grid-column: 2/12;
				grid-row: 2/3;
				padding-left: 0;
			}
			&--image {
				grid-row: 3/4;
				grid-column: 1/13;
				padding: 0;
				padding-top: 44px;
			}
		}
	}
}

#sectionWhatHomepage {
	margin-top: 150px;

	.section {
		&--body {
			grid-column: 1/13;
			grid-row: 2/3;
			display: flex;
			flex-direction: column;
			row-gap: 45px;
			padding: 0;
			margin-top: -50px;
			align-items: center;

			&--item {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				grid-template-rows: auto;
				max-width: 100%;

				.text-block {
					grid-column: 2/6;
					grid-row: 1/2;
					align-self: flex-end;

					h3 {
						margin-bottom: 12px;
					}
				}

				.checklist {
					grid-column: 2/6;
					grid-row: 2/3;
					margin-top: 44px;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 12px;
					&--item {
						display: flex;
						align-items: center;
						gap: 12px;

						h6 {
							color: $secondary-black;
							text-align: left;
							font-weight: 500;
							letter-spacing: -0.0125em;
						}

						&__icon {
							width: 30px;
							height: 30px;

							path {
								&:first-child,
								&:nth-child(2) {
									fill: $pastel-red;
								}
								&:nth-child(3) {
									fill: $primary-black;
								}
							}
						}
					}
				}

				.image {
					&__wrapper {
						grid-column: 7/12;
						grid-row: 1/3;
						align-self: center;
						width: 650px;
					}

					g {
						position: relative;
						transition: transform 3.5s cubic-bezier(0.22, 1, 0.36, 1);
					}

					#lock-card,
					#profile-card,
					#server-card,
					#cloud-card,
					#laptop-card,
					#user-card,
					#phone-card,
					#folder-card,
					#browser-card,
					#battery-card,
					#gear-card,
					#cc-card,
					#moving-box-card,
					#profiles-card,
					#browser-window {
						filter: drop-shadow(0 18px 16px rgba(20, 25, 43, 0.16));
					}
				}

				&.reversed {
					flex-direction: row-reverse;

					.text-block {
						grid-column: 8/12;
					}

					.checklist {
						grid-column: 8/12;
					}

					.image {
						&__wrapper {
							grid-column: 2/7;
						}
					}
				}
			}

			.cta-group {
				justify-content: center;
				margin-top: 50px;
				column-gap: 20px;

				.cta {
					min-width: 235px;

					.btn {
						width: 100%;
					}
				}
			}

			@media (max-width: 1200px) {
				gap: 40px;

				&--item {
					.image {
						&__wrapper {
							grid-column: 6/13;
							padding: 0 0 0 2.5vw;
						}
					}

					.text-block {
						h4 {
							margin-bottom: 10px;
						}
					}

					.checklist {
						&--item {
							gap: 6px;
						}
					}

					&.reversed {
						.image {
							&__wrapper {
								grid-column: 1/8;
								padding: 0 2.5vw 0 0;
							}
						}
					}
				}
			}
			@media (max-width: 960px) {
				gap: 40px;

				#graphicEfficient__wrapper {
					margin-top: -3.5vw;
				}

				&--item,
				&--item.reversed {
					.text-block {
						grid-row: 1/2;
						grid-column: 1/13;

						h4 {
							margin-bottom: 3px;
						}
					}

					.checklist {
						grid-row: 2/3;
						grid-column: 1/6;
						margin-top: 40px;
					}

					.image {
						&__wrapper {
							grid-column: 6/13;
							grid-row: 2/3;
							padding: 0;
							margin-left: 2vw;
						}
					}
				}
			}
			@media (max-width: 650px) {
				gap: 60px;

				&--item,
				&--item.reversed {
					.text-block {
						grid-row: 1/2;
						grid-column: 1/13;

						h4 {
							margin-bottom: 8px;
						}
					}

					.checklist {
						grid-row: 3/4;
						grid-column: 1/13;
						row-gap: 13px;
						column-gap: 0;
						flex-direction: column;
						align-items: center;
						margin-top: 2px;

						&--item {
							flex-direction: row;
							align-items: center;
							justify-content: space-between;
							gap: 8px;
							width: 100%;

							h6 {
								text-align: left;
								flex-grow: 1;
								width: 100%;
							}

							svg {
								width: 15px !important;
								height: 15px !important;
							}
						}
					}

					.image {
						&__wrapper {
							grid-column: 1/13;
							grid-row: 2/3;
							margin-left: 0;
						}
					}
				}
			}

			@media (max-width: 575px) {
				padding: 0;

				.cta-group {
					align-items: center;
					margin-top: 0px;
					margin-bottom: -80px;
					width: calc(100% - 7vw);
					.cta {
						width: 100%;

						.btn {
							width: 100%;
						}
					}
				}

				&--item,
				&--item.reversed {
					max-width: none;
					margin: 0 3.5vw;
					.image {
						&__wrapper {
							grid-column: 1/12;
						}
					}
				}
			}
			@media (max-width: 400px) {
				.cta-group {
					margin-top: -5px;
					margin-bottom: -100px;
				}

				&--item,
				&--item.reversed {
					.image {
						&__wrapper {
							grid-column: 1/13;
						}
					}
				}
			}
		}

		&--heading {
			@media (max-width: 1050px) {
				margin-bottom: 108px;
			}

			@media (max-width: 575px) {
				* {
					margin-left: 0;
					text-align: left;
				}
			}
		}
	}

	@media (max-width: 1525px) {
		margin-top: 200px;
	}
	@media (max-width: 1050px) {
		margin-top: 175px;
	}
}

#emailIntake {
	position: relative;
	display: flex;
	z-index: 10;
	flex-direction: column;
	align-items: center;
	row-gap: 43px;
	padding: 120px 52px;
	margin-top: 80px;
	max-width: 1150px;
	width: 80vw;
	grid-column: 1/13;

	.bg {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		width: 100vw;
		height: 100%;
		background-color: $pale-mint;
		clip-path: polygon(0% 4.4vw, 100% 0%, 100% 100%, 0% 100%);
	}

	.section {
		&--heading {
			max-width: 450px;
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			gap: 12px;
			* {
				text-align: center;
				margin-left: 0;
				color: $primary-black;
			}
			h3 {
				margin-bottom: 0;
			}
		}

		&--form {
			width: 100%;
			position: relative;
			flex-grow: 1;

			&__wrapper {
				flex-grow: 1;
				display: flex;
				align-items: center;
				max-width: 740px;
				width: 75vw;
			}
			&--input {
				height: 67px;
				padding: 8px 160px 0px 63px;
				border-radius: 10px;
				border: 3px solid $primary-black;
				box-shadow: 0 2px 8px rgba(20, 25, 43, 0.06);
				width: 100%;
				min-width: 475px;
				&__wrapper {
					position: relative;
				}

				&__icon {
					position: absolute;
					width: 30px;
					height: auto;
					left: 15px;
					top: 50%;
					transform: translateY(-50%);
					fill: $pastel-red;
				}

				&__label {
					position: absolute;
					top: 50%;
					left: 60px;
					transform: translate(0, -50%);
					transform-origin: left center;
					color: $gray-3;
					pointer-events: none;
					background-color: rgba(255, 255, 255, 0);
					transition: 0.25s ease-in-out all;
					padding: 0 8px;
					font-size: 18px;
				}

				&:focus ~ label {
					transform: translate(0, calc(-50% - 17px)) scale(0.75);
				}
			}

			.has-value {
				label {
					transform: translate(0, calc(-50% - 17px)) scale(0.75);
				}
			}

			#submit {
				position: absolute;
				right: 0;
				top: 0;
				font-size: 18px;
				padding: 16px 28px;
				height: 100%;
				width: 200px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				&:hover,
				&:active,
				&:focus {
					transform: scale(1) translateY(0);
				}
			}
		}
	}

	@media (max-width: 1500px) {
		margin-bottom: -75px;
		margin-top: 200px;
	}

	@media (max-width: 1080px) {
		flex-direction: column;
		align-items: center;
		padding: 72px 44px;
		.section {
			&--heading {
				max-width: 800px;
				* {
					text-align: center;
					margin-left: auto;
					margin-right: auto;
				}

				h4 {
					margin-left: auto;
				}
			}

			&--form {
				&--input {
					min-width: 0;

					&__label {
						transform-origin: left center;
					}
				}
			}
		}
	}

	@media (max-width: 575px) {
		padding: 38px 24px;
		margin-top: 110px;
		margin-bottom: -140px;
		.section {
			&--heading {
				gap: 2px;
			}

			&--form {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: flex-start;
				gap: 20px;

				&--input {
					height: 63px;
					padding: 8px 20px 2px 20px;

					&__label {
						top: 31px;
					}
				}

				#submit {
					position: static;
					transform: none;
					height: 63px;
					width: 100%;
				}
			}
		}
	}
}

.email-intake-wrapper {
	position: relative;
	.decor {
		&__circle {
			&-1 {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 11;
				height: 24vw;
				width: 24vw;
				max-width: 455px;
				max-height: 455px;
				background-color: $primary-black;
				transform: translate(-80%, -10%);
				border-radius: 50%;
			}
			&-2 {
				position: absolute;
				right: 0;
				bottom: 0;
				z-index: 11;
				height: 24vw;
				width: 24vw;
				max-width: 455px;
				max-height: 455px;
				background-color: $blue-mid;
				transform: translate(65%, 36%);
				border-radius: 50%;
			}
		}
	}
}

#sectionWhoHomepage {
	margin-top: -80px;
	padding-top: 240px;
	position: relative;
	z-index: 12;

	.bg {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 200vw;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		height: 100%;
		z-index: -1;
		background-color: $primary-black;
		clip-path: polygon(0% 0%, 100% 80px, 100% 100%, 0% 100%);
	}

	.section {
		&--heading {
			margin-bottom: 80px;
			h2,
			p {
				color: $primary-white;
			}
		}
	}

	@media (max-width: 1200px) {
		padding-top: 31px;
		padding-bottom: 31px;
	}
	@media (max-width: 960px) {
		padding-top: 82px;
	}
	@media (max-width: 800px) {
		padding-top: 72px;
	}
	@media (max-width: 550px) {
		padding-top: 15px;
	}

	.card {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-radius: 6px;
		gap: 0px;
		padding: 40px 25px 53px;
		font-size: 20px;
		flex-grow: 1;
		max-width: 30%;

		&--icon {
			fill: $pastel-red;
			width: 110px;
			height: 110px;
			position: relative;
			&#rocket {
				transform: rotate(45deg);
			}
		}
		&--text {
			max-width: 100%;
			margin-bottom: 0;
			margin: 25px 0 35px;
			text-align: center;
			color: $primary-white;
		}
		h3 {
			margin-bottom: 16px;
			font-weight: 600;
		}

		.btn {
			display: inline-block;
			text-decoration: none;
			margin-top: auto;
			text-align: center;
			width: 85%;
			max-width: 90vw;
		}
		&__wrapper {
			gap: 4px;
			justify-content: space-between;

			.divider {
				width: 1px;
				height: 225px;
				background-color: $primary-white;
				align-self: center;
			}
		}

		&__image {
			filter: hue-rotate(145deg) brightness(90%);
		}
	}

	@media (max-width: 1200px) {
		.card {
			&__wrapper {
				gap: 4px;
			}
		}
	}
	@media (max-width: 960px) {
		.card {
			flex-direction: row;
			width: 80%;
			max-width: 80vw;
			min-width: 300px;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			.btn {
				width: 92.5%;
				justify-self: flex-start;
				margin-left: 0;
				min-width: 300px;
			}

			&:nth-child(odd) {
				flex-direction: row-reverse;
			}

			&--text {
				flex-grow: 1;
				justify-self: flex-start;
				max-width: 75%;
				h4,
				p {
					text-align: left;
				}
			}

			&__wrapper {
				gap: 12px;
				flex-direction: column;
				align-items: center;
				grid-column: 2/12;

				.divider {
					height: 1px;
					width: 225px;
					background-color: $primary-white;
					align-self: center;
				}
			}

			&__image {
				&__wrapper {
					width: 37.5%;
					padding-right: 5.2vw;
					align-self: flex-end;
				}
			}
		}
	}

	@media (max-width: 750px) {
		.card,
		.card:nth-child(odd) {
			flex-direction: column;
			align-items: center;
		}

		.card {
			&--text {
				width: 100%;
				h4,
				p {
					text-align: center;
				}
			}

			.btn {
				width: 100%;
			}
		}
	}

	@media (max-width: 580px) {
		.card {
			width: 100%;
			min-width: 0px;
			padding-left: 0;
			padding-right: 0;
			&:nth-child(odd),
			&:nth-child(even) {
				flex-direction: column;

				.card {
					&--text {
						max-width: 100%;
						* {
							text-align: center;
						}
					}
				}
			}

			.btn {
				min-width: 0px;
			}

			h5 {
				margin-bottom: 3px;
			}

			&__wrapper {
				gap: 18px;
			}

			&__image {
				&__wrapper {
					width: 40%;
					padding-right: 0vw;
					align-self: flex-end;
				}
			}

			&:nth-child(even) {
				.card__image__wrapper {
					padding-left: 0vw;
				}
			}
		}
	}
}

#blogPreview {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 0;
	padding-top: 140px;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 200vw;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		height: 100%;
		z-index: -1;
		background-color: $primary-black;
	}

	.section--heading {
		color: $primary-white;
		margin-bottom: 24px;
	}

	.blogs {
		grid-template-columns: 1fr 1fr 1fr;

		&--preview {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			justify-content: space-between;
			padding: 52px 57px;
			border-radius: 16px;
			border: 3px solid $pastel-red;
			text-decoration: none;
			color: $primary-white;
			transition: all 0.1s ease-out;
			transform: scale(1) translate3d(0, 0, 0);
			box-shadow: 0 20px 8px rgba(0, 0, 0, 0.01), 0 13px 7px rgba(0, 0, 0, 0.1),
				0 3px 6px rgba(0, 0, 0, 0.35), 0 3px 4px rgba(0, 0, 0, 0.6),
				0 1px 2px rgba(0, 0, 0, 0.69), 0 0px 0px rgba(0, 0, 0, 0.7);

			svg {
				position: relative;
				transform-origin: top right;
				transform: scale(1.15);
				width: 116px;
				height: 112px;
			}

			&:hover,
			&:active,
			&:focus {
				transform: scale(1.01) translate3d(0, -1%, 0);
				box-shadow: 0 24px 13px rgba(0, 0, 0, 0.02),
					0 16px 11px rgba(0, 0, 0, 0.14), 0 9px 10px rgba(0, 0, 0, 0.48),
					0 4px 7px rgba(0, 0, 0, 0.81), 0 2px 4px rgba(0, 0, 0, 0.93),
					0 0px 0px rgba(0, 0, 0, 0.95);
			}
		}
	}
}
