
// PRICING PAGE

#pricingBG {
    position: absolute;
    top: 0;
    z-index: -10;
    transform: translateY(-92px);
    width: 100vw;
    min-width: 1500px;
  
    @media (min-width: 2160px) {
      transform: translateY(-6.5vw);
    }
  }
  
  #pricing {
    padding-top: 37px;
    padding-bottom: 0px;
  
    .section {
      &--heading {
        margin-bottom: 24px;
        h2 {
          margin-bottom: 7px;
        }
        p {
          font-size: 16px;
        }
      }
  
      &--form {
        width: 100%;
        position: relative;
        flex-grow: 1;
        max-width: 597px;
  
        &--input {
          height: 61px;
          padding: 8px 160px 8px 20px;
          border-radius: 6px;
          border: 1px solid #dcdcdc;
          box-shadow: 0 2px 8px rgba(20, 25, 43, 0.06);
          width: 100%;
          &__wrapper {
            position: relative;
          }
  
          &__label {
            position: absolute;
            top: 30px;
            left: 15px;
            transform: translate(0, -50%) scale(1);
            opacity: 1;
            transform-origin: left center;
            color: $off-black;
            pointer-events: none;
            background-color: rgba(255, 255, 255, 0);
            transition: 0.25s ease-in-out all;
            padding: 0 8px;
          }
  
          &:focus ~ label {
            transform: translate(0, -130%) scale(.8);
          }
        }
  
        .has-value {
          label {
            transform: translate(0, -130%) scale(.6);
            opacity: .75;
          }
        }
  
        #submit {
          position: absolute;
          right: 13px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 15px;
          padding: 10px 28px;
        }
        &__wrapper {
          grid-row: 2/3;
          grid-column: 2/12;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 47px;
          row-gap: 40px;
          margin-bottom: 65px;
          margin-top: 5px;
        }
  
        @media (max-width: 480px) {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: flex-start;
          gap: 10px;
  
          &--input {
            height: 63px;
  
            &__label {
              top: 31px;
            }
  
            &:focus ~ label {
              transform: translate(-78px, -8px) rotate(-90deg);
              color: #f5f5f5;
            }
          }
  
          .has-value {
            label {
              transform: translate(-78px, -8px) rotate(-90deg);
              color: #f5f5f5;
            }
          }
  
          #submit {
            position: static;
            transform: none;
            height: 53px;
          }
        }
      }
  
      &--body {
        grid-column: 1/13;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 31px;
        row-gap: 16px;
  
        &--item {
          background-color: #f5f5f5;
          padding: 32px 32px 46px;
          border-radius: 10px;
          max-width: 392px;
          justify-self: center;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  
          .price {
            &--type {
              color: #888b94;
              margin-bottom: -1px;
              font-weight: 500;
              font-size: 22px;
            }
            &--rate {
              color: $off-black;
              font-size: 14px;
              margin-top: -2px;
            }
            &--cta {
              width: 100%;
              margin-top: 17px;
              margin-bottom: 27px;            
              padding: 16px 38px 13px;
              font-size: 18px;
              letter-spacing: 1px;
            }
            &--message {
              margin-bottom: 24px;
              line-height: 140%;
              color: #6B6B6B;

              ul {
                padding-left: 20px;
                padding-top: 20px;
              }
            }
            &--num {
              font-size: 36px;
            }
          }
  
          &.blurred {
            filter: blur(10px) opacity(100%) saturate(0.8);
            cursor: not-allowed;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
  
            .price--cta {
              cursor: not-allowed;
              pointer-events: none;
            }
          }
        }
  
        #comingSoonBanner {
          display: none;
        }
      }
      &--footer {
        grid-row: 4/5;
        grid-column: 1/13;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 33px;
  
        .h6 {
          font-weight: 500;
          margin-bottom: -2px;
          color: $white;
          font-size: 20px;
        }
        p {
          text-align: center;
          color: #d1d1d1;
          a {
            color: $primary-orange;
            text-decoration: none;
            text-align: center;
          }
        }
      }
  
      @media (min-width: 2325px) {
        &--footer {
          margin-top: 8vw;
        }
      }
      @media (min-width: 3069px) {
        &--footer {
          margin-top: 52px;
  
          .h6 {
            color: $black;
          }
        }
      }
  
      @media (max-width: 1080px) {
        &--body {
          // grid-template-columns: 1fr 1fr;
          // grid-template-rows: auto;
          column-gap: 16px;
          &--item {
            padding: 27px 27px 24px;
  
            .price {
              &--type {
                margin-bottom: 6px;
              }
  
              &--cta {
                margin-top: 10px;
                margin-bottom: 17px;
              }
            }
          }
        }
      }
  
      @media (max-width: 875px) {
        &--body {
          grid-template-columns: 10vw 1fr 1fr 10vw;
          grid-template-rows: auto;
          &--item {
            padding: 27px 27px 24px;
  
            &.blurred {
              height: 90%;
              overflow: hidden;
              * {
                font-size: 0.8em;
              }
            }
  
            &:first-child {
              grid-column: 2/4;
            }
  
            &:nth-child(2),
            &:nth-child(3) {
              grid-row: 2/3;
            }
  
            &:nth-child(2) {
              grid-column: 2/3;
            }
  
            &:nth-child(3) {
              grid-column: 3/4;
            }
  
            .price {
              &--type {
                margin-bottom: 6px;
              }
  
              &--cta {
                margin-top: 10px;
                margin-bottom: 17px;
              }
            }
          }
  
          #comingSoonBanner {
            display: block;
            grid-row: 2/3;
            grid-column: 2/4;
            align-self: stretch;
            position: relative;
            z-index: 75;
            display: flex;
            align-items: center;
  
            p {
              color: $black;
              margin-top: -40px;
              padding-top: 40px;
              padding-bottom: 40px;
              position: relative;
              font-size: 1.5em;
  
              &:before {
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);
                filter: blur(50px);
              }
            }
          }
        }
      }
      @media (max-width: 625px) {
        &--body {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          &--item {
            padding: 27px 27px 24px;
            grid-column: 1/2;
            max-width: 90vw;
            justify-self: flex-start;
            &:first-child {
              grid-column: 1/3;
              // max-width: 440px;
            }
  
            &:nth-child(2),
            &:nth-child(3) {
              grid-row: 2/3;
              max-width: 100%;
            }
  
            &:nth-child(2) {
              grid-column: 1/2;
            }
  
            &:nth-child(3) {
              grid-column: 2/3;
            }
  
            .price {
              &--type {
                margin-bottom: 6px;
              }
  
              &--cta {
                margin-top: 10px;
                margin-bottom: 17px;
              }
            }
          }
  
          #comingSoonBanner {
            grid-column: 1/3;
          }
        }
      }
    }
  }
  
  #pricingFAQ {
    margin-top: 74px;
    .section {
      &--heading {
        margin-bottom: 34px;
        h4 {
          margin-bottom: 0px;
          text-align: center;
          color: $white;
        }
      }
  
      &--body {
        grid-row: 2/3;
        grid-column: 3/11;
      }
  
      @media (max-width: 700px) {
        &--body {
          grid-column: 1/13;
        }
      }
    }
  }
  