// PRICING PAGE


#pricing {
	margin-top: 75px;
	padding-bottom: 0px;
	position: relative;

	.section {
		&--heading {
			color: $primary-white;
			margin-bottom: 65px;

			h1 {
				font-weight: 600;
				margin-bottom: 6px;
			}
			p {
				max-width: 500px;
			}

			@media (max-width: 875px) {
				margin-bottom: 40px;
			}
		}

		&--form {
			width: 100%;
			position: relative;
			flex-grow: 1;
			max-width: 597px;

			&--input {
				height: 61px;
				padding: 8px 160px 2px 20px;
				border-radius: 6px;
				border: 1px solid #dcdcdc;
				box-shadow: 0 2px 8px rgba(20, 25, 43, 0.06);
				width: 100%;
				&__wrapper {
					position: relative;
				}

				&__label {
					position: absolute;
					top: 30px;
					left: 15px;
					transform: translate(0, -50%) scale(1);
					transform-origin: left center;
					opacity: 1;
					color: $secondary-black;
					pointer-events: none;
					background-color: rgba(255, 255, 255, 0);
					transition: 0.25s ease-in-out all;
					padding: 0 8px;
				}

				&:focus ~ label {
					transform: translate(0, -130%) scale(0.8);
				}
			}

			.has-value {
				label {
					transform: translate(0, -130%) scale(0.8);
					opacity: 0.75;
				}
			}

			#submit {
				position: absolute;
				right: 13px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 15px;
				padding: 10px 28px;
			}

			&__wrapper {
				grid-row: 2/3;
				grid-column: 1/13;
				display: flex;
				justify-content: center;
				align-items: center;
				column-gap: 47px;
				row-gap: 40px;
				margin: 5px 3.5vw 65px;
			}

			@media (max-width: 480px) {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: flex-start;
				gap: 10px;

				&--input {
					height: 63px;

					&__label {
						top: 31px;
					}

					&:focus ~ label {
						transform: translate(-78px, -8px) rotate(-90deg);
						color: #f5f5f5;
					}
				}

				.has-value {
					label {
						transform: translate(-78px, -8px) rotate(-90deg);
						color: #f5f5f5;
					}
				}

				#submit {
					position: static;
					transform: none;
					height: 53px;
				}
			}
		}

		&--body {
			grid-column: 1/13;
			grid-row: 3/4;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			column-gap: 60px;
			row-gap: 16px;

			.price-toggle {
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				column-gap: 15px;
				color: $primary-white;
				margin-bottom: 25px;

				.visually-hidden {
					visibility: hidden;
					display: none;
				}

				&--btn {
					width: 80px;
					height: 40px;
					border-radius: 100px;
					border: none;
					cursor: pointer;
					position: relative;
					transition: all 0.25s ease-in-out;

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						transition: all 0.25s ease-in-out;
					}

					&.toggled {
						&__annual {
							background-color: $blue-light;
							&::before {
								transform: translate(-5px, -50%);
								background-color: $primary-white;
								box-shadow: 10px 0px 4px rgba(1, 26, 50, 0.04),
									5px 0px 3px rgba(1, 26, 50, 0.13),
									2px 0px 2px rgba(1, 26, 50, 0.21),
									1px 0px 1px rgba(1, 26, 50, 0.25),
									0px 0px 0px rgba(1, 26, 50, 0.25);
							}
						}

						&__monthly {
							background-color: $primary-white;
							&::before {
								transform: translate(-43px, -50%);
								background-color: $blue-light;
								box-shadow: -10px 0px 4px rgba(1, 26, 50, 0.04),
									-5px 0px 3px rgba(1, 26, 50, 0.13),
									-2px 0px 2px rgba(1, 26, 50, 0.21),
									-1px 0px 1px rgba(1, 26, 50, 0.25),
									-0px 0px 0px rgba(1, 26, 50, 0.25);
							}
						}
					}
				}

				&--label {
					font-size: 17px;
					&__annual {
						position: relative;

						&::after {
							position: absolute;
							width: 100%;
							color: $pastel-red;
							content: "(save 10%)";
							font-size: 15px;
							margin-left: 8px;
							bottom: 1px;
							white-space: nowrap;
						}
					}
				}
			}

			.price-card {
				position: relative;
				background-color: $secondary-black;
				padding: 69px 55px 97px;
				border-radius: 10px;
				flex: 1 1 0px;
				min-width: 40%;
				max-width: 500px;
				justify-self: center;
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: stretch;

				&--type {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 15px;
					padding: 4px 18px;
					border-radius: 15px;

					&__starter {
						background-color: $blue-light;
						color: $primary-white;
					}

					&__essentials {
						background-color: $mint;
						color: $primary-black;
					}
				}

				&--heading {
					text-align: center;
					width: 100%;
					padding: 0 15px;
					margin-bottom: 35px;
				}

				&--price {
					color: $primary-white;

					* {
						font-family: "Poppins", sans-serif;
					}

					.price {
						font-size: 1em;
						font-size: clamp(28px, 1em, 38px);
						font-weight: 700;
					}

					.freq {
						font-size: .55em;
						font-size: clamp(14px, .55em, 16px);
						font-weight: 600;
					}
				}

				&--description {
					color: $primary-white;
					font-size: 15px;
				}

				&--cta {
					width: 100%;
				}

				&--message {
					min-height: 90px;
					padding-bottom: 25px;
					border-bottom: 1px solid $secondary-black;
				}

				&--features {
					margin-top: 60px;
					color: $primary-white;
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 30px;
					.list {
						&__1 {
							flex-grow: 1;
						}
					}

					h6 {
						margin-bottom: 16px;
						font-size: 17px;
					}

					ul li {
						display: flex;
						align-items: center;
						column-gap: 17px;
						margin-bottom: 15px;

						svg {
							fill: $pastel-red;
							width: 22px;
							height: 22px;
							min-width: 22px;
							min-height: 22px;
						}

						p {
							font-size: 15px;
						}
					}
				}
			}

			@media (max-width: 1080px) {
				gap: 20px;
			}

			@media (max-width: 875px) {
				flex-direction: column;
				align-items: center;
				row-gap: 50px;


				.price-card {
					max-width: 600px;
					width: 90vw;
					min-width: 250px;
				}
			}
			@media (max-width: 625px) {

				.price-card {
					padding: 52px 40px 72px;
					&--description {
						width: min(300px, 90%);
						margin: 0 auto;
					}
				}
			}

			@media (max-width: 450px) {
				.price-toggle {
					align-items: flex-start;
					&--label {
						&__annual {
							&::after {
								bottom: 0;
								left: 0;
								margin-left: 0;
								transform: translateY(17px);
							}
						}
					}
				}
				.price-card {
					padding: 48px 22px 42px;
				}
			}
		}
		&--footer {
			grid-row: 4/5;
			grid-column: 1/13;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 33px;

			.h6 {
				font-weight: 600;
				margin-bottom: -2px;
				color: $primary-white;
				font-size: 20px;
			}
			.p-sm {
				text-align: center;
				color: $primary-white;
				font-family: "Poppins", sans-serif;
				font-weight: 600;

				a {
					color: $pastel-red;
					text-decoration: none;
					text-align: center;
				}
			}
		}

		@media (min-width: 2325px) {
			&--footer {
				margin-top: 8vw;
			}
		}
		@media (min-width: 3069px) {
			&--footer {
				margin-top: 52px;

				.h6 {
					color: $primary-black;
				}
			}
		}
	}
}

#pricingFAQ {
	margin-top: 75px;
	z-index: 1;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		height: 75px;
		width: 100vw;
		background-color: $primary-white;
	}
	.section {
		&--heading {
			margin-bottom: 34px;

			h2 {
				margin-bottom: 0px;
				text-align: center;
				color: $primary-white;
			}
		}

		&--body {
			grid-row: 2/3;
			grid-column: 2/12;
		}

		@media (max-width: 700px) {
			&--body {
				grid-column: 1/13;
			}
		}
	}
}

#main .decor {
	@media (max-width: 940px) {
		&--circle-grid__pricing {
			transform: translate(50%, 75%) rotate(45deg);
		}
		&--single-circle__pricing-1 {
			transform: translate(-25%, -100%);
		}
		&--single-circle__pricing-2 {
			transform: translate(-7vw, -7vw);
		}
	}
}
